<div>
    <h2>
        <span jhiTranslate="mallApp.productItemHistory.home.title">Product Item Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-product-item-history" [routerLink]="['/', { outlets: { popup: ['product-item-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.productItemHistory.home.createLabel">
            Create new Product Item History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.productItemHistory.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productItemHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="mallApp.productItemHistory.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="mallApp.productItemHistory.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="defaultItem"><span jhiTranslate="mallApp.productItemHistory.defaultItem">Default Item</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="color"><span jhiTranslate="mallApp.productItemHistory.color">Color</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="size"><span jhiTranslate="mallApp.productItemHistory.size">Size</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantity"><span jhiTranslate="mallApp.productItemHistory.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currency"><span jhiTranslate="mallApp.productItemHistory.currency">Currency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="mallApp.productItemHistory.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="mallApp.productItemHistory.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="mallApp.productItemHistory.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="mallApp.productItemHistory.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="mallApp.productItemHistory.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="item.id"><span jhiTranslate="mallApp.productItemHistory.item">Item</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let productItemHistory of productItemHistories ;trackBy: trackId">
                <td><a [routerLink]="['../product-item-history', productItemHistory.id ]">{{productItemHistory.id}}</a></td>
                <td>{{productItemHistory.name}}</td>
                <td>{{productItemHistory.code}}</td>
                <td>{{productItemHistory.defaultItem}}</td>
                <td>{{productItemHistory.color}}</td>
                <td>{{productItemHistory.size}}</td>
                <td>{{productItemHistory.quantity}}</td>
                <td jhiTranslate="{{'mallApp.CurrencyType.' + productItemHistory.currency}}">{{productItemHistory.currency}}</td>
                <td>{{productItemHistory.price}}</td>
                <td>{{productItemHistory.createdBy}}</td>
                <td>{{productItemHistory.createdDate | date:'medium'}}</td>
                <td>{{productItemHistory.lastModifiedBy}}</td>
                <td>{{productItemHistory.lastModifiedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="productItemHistory.item">
                        <a [routerLink]="['../product-item', productItemHistory.item?.id ]" >{{productItemHistory.item?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product-item-history', productItemHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-item-history/'+ productItemHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-item-history/'+ productItemHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
