<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-item-history-heading" jhiTranslate="mallApp.productItemHistory.home.createOrEditLabel">Create or edit a Product Item History</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.productItemHistory.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.productItemHistory.isDefault" for="field_isDefault">Is Default</label>
                    <input type="checkbox" class="form-control" name="isDefault" id="field_isDefault"
                           formControlName="isDefault"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.productItemHistory.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.productItemHistory.currency" for="field_currency">Currency</label>
                    <select class="form-control" name="currency" formControlName="currency" id="field_currency">
                        <option value="HKD">{{ 'mallApp.CurrencyType.HKD' | translate }}</option>
                        <option value="CNY">{{ 'mallApp.CurrencyType.CNY' | translate }}</option>
                        <option value="USD">{{ 'mallApp.CurrencyType.USD' | translate }}</option>
                        <option value="EUR">{{ 'mallApp.CurrencyType.EUR' | translate }}</option>
                        <option value="JPY">{{ 'mallApp.CurrencyType.JPY' | translate }}</option>
                        <option value="KRW">{{ 'mallApp.CurrencyType.KRW' | translate }}</option>
                        <option value="TWD">{{ 'mallApp.CurrencyType.TWD' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.productItemHistory.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.productItemHistory.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.productItemHistory.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
