<div draggable="true" ngClass="{{dragAreaClass}}">
	<div class="row">
		<div class="col-md-12 text-center" style="background-image: url('http://localhost/img/1402152414_unnamed.png')">
			<a href="javascript:void(0)" (click)="file.click()" >
				Click to browse 
			</a>
			Or Drag & Drop to upload your files
	        <input type="file" 
	              #file 
	              [multiple]="(maxFiles > 1)"
	              (change) = "onFileChange($event)"
	              style="display:none" />
		</div>
	</div>
</div>