<form name="editForm" role="form" novalidate (ngSubmit)="ok()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="fileUploadLabel" jhiTranslate="mallApp.fileUpload.title">File Upload</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>    	
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
		
		<jhi-file-upload
			[url]="url"
			[maxFiles]="maxFiles"
			[maxSize]="maxSize"
			[fileExt]="fileExt"
			(result)="getResult($event)" >
	    </jhi-file-upload>
		
		<br /><br />
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
            <fa-icon [icon]="'check-square'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.ok">OK</span>
        </button>
    </div>
</form>
