<div>
    <h2>
        <span jhiTranslate="mallApp.creditCard.home.title">Credit Cards</span>
        <button class="btn btn-primary float-right jh-create-entity create-credit-card" [routerLink]="['/', { outlets: { popup: ['credit-card-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.creditCard.home.createLabel">
            Create new Credit Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.creditCard.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="creditCards">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="holderName"><span jhiTranslate="mallApp.creditCard.holderName">Holder Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cardNumber"><span jhiTranslate="mallApp.creditCard.cardNumber">Card Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expirationMonth"><span jhiTranslate="mallApp.creditCard.expirationMonth">Expiration Month</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expirationYear"><span jhiTranslate="mallApp.creditCard.expirationYear">Expiration Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cvc"><span jhiTranslate="mallApp.creditCard.cvc">Cvc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="account.id"><span jhiTranslate="mallApp.creditCard.account">Account</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let creditCard of creditCards ;trackBy: trackId">
                <td><a [routerLink]="['../credit-card', creditCard.id ]">{{creditCard.id}}</a></td>
                <td>{{creditCard.holderName}}</td>
                <td>{{creditCard.cardNumber}}</td>
                <td>{{creditCard.expirationMonth}}</td>
                <td>{{creditCard.expirationYear}}</td>
                <td>{{creditCard.cvc}}</td>
                <td>
                    <div *ngIf="creditCard.account">
                        <a [routerLink]="['../my-account', creditCard.account?.id ]" >{{creditCard.account?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../credit-card', creditCard.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'credit-card/'+ creditCard.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'credit-card/'+ creditCard.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="creditCards && creditCards.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
