
<div *ngIf="creditCard">
    <h2><span jhiTranslate="mallApp.creditCard.detail.title">Credit Card</span> {{creditCard.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mallApp.creditCard.holderName">Holder Name</span></dt>
        <dd>
            <span>{{creditCard.holderName}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.creditCard.cardNumber">Card Number</span></dt>
        <dd>
            <span>{{creditCard.cardNumber}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.creditCard.expirationMonth">Expiration Month</span></dt>
        <dd>
            <span>{{creditCard.expirationMonth}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.creditCard.expirationYear">Expiration Year</span></dt>
        <dd>
            <span>{{creditCard.expirationYear}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.creditCard.cvc">Cvc</span></dt>
        <dd>
            <span>{{creditCard.cvc}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.creditCard.account">Account</span></dt>
        <dd>
            <div *ngIf="creditCard.account">
                <a [routerLink]="['/my-account', creditCard.account?.id]">{{creditCard.account?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'credit-card/'+ creditCard.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
