
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
	<div class="row">
		<jhi-alert-error></jhi-alert-error>
	</div>
	<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
		<div class="col-md-4"><span jhiTranslate="mallApp.myOrder.detail.title">My Order</span></div>
		<div class="col-md-5" [ngSwitch]="canCheckout">
		    <button type="button" [disabled]="isSaving" class="btn btn-info" (click)="previousState()">
		        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
		    </button>
		    <button *ngSwitchCase="true" type="button" [disabled]="isSaving" class="btn btn-default" (click)="cancel()">
	            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
	        </button>
	        <button *ngSwitchCase="true" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
	            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Checkout</span>
	        </button>	        
	        <button *ngSwitchCase="false" type="submit" [disabled]="isSaving" class="btn btn-primary" (click)="edit()">
	            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
	        </button>
		</div>
		<div class="col-md-3"></div>
    </div>
	<div class="row">
	  <div class="col-md-1">photo</div>
	  <div class="col-md-5">product item name</div>
	  <div class="col-md-2">unit price</div>	
	  <div class="col-md-2">quantity</div>
	  <div class="col-md-2">sub total</div>
	</div>
	<div class="row" *ngFor="let item of myOrder.items">
	  <div class="col-md-1">
	  	<span class="hipster img-fluid img-rounded"></span>
	  </div>
	  <div class="col-md-5">
	  	<span class="hipster img-fluid img-rounded">{{item.productItem.color.name + ' ' + item.productItem.size.name}}</span>
	  </div>
	  <div class="col-md-2">
	  	<span class="hipster img-fluid img-rounded">{{item.price}}</span>
	  </div>	  
	  <div class="col-md-2">
		<span class="hipster img-fluid img-rounded">{{item.quantity}}</span>
	  </div>
	  <div class="col-md-2">
	  	<span class="hipster img-fluid img-rounded">{{item.price * item.quantity}}</span>
	  </div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5"></div>
		<div class="col-md-2"></div>
		<div class="col-md-2"><span jhiTranslate="mallApp.myOrder.total">Total</span></div>
		<div class="col-md-2">{{myOrder.total}}</div>
	</div>    
    </form>


    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mallApp.myOrder.total">Total</span></dt>
        <dd>
            <span>{{myOrder.total}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.myOrder.currency">Currency</span></dt>
        <dd>
            <span jhiTranslate="{{'mallApp.CurrencyType.' + myOrder.currency}}">{{myOrder.currency}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.myOrder.remark">Remark</span></dt>
        <dd>
            <span>{{myOrder.remark}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.myOrder.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'mallApp.OrderStatus.' + myOrder.status}}">{{myOrder.status}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.myOrder.account">Account</span></dt>
        <dd>
            <div *ngIf="myOrder.accountId">
                <a [routerLink]="['/my-account', myOrder.accountId]">{{myOrder.accountId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'my-order/'+ myOrder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
