<div>
    <h2 id="page-heading">
        <span jhiTranslate="mallApp.myOrder.home.title">My Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-my-order" [routerLink]="['/my-order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.myOrder.home.createLabel">
            Create a new My Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.myOrder.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="myOrders?.length === 0">
        <span jhiTranslate="mallApp.myOrder.home.notFound">No myOrders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="myOrders?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="total"><span jhiTranslate="mallApp.myOrder.total">Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currency"><span jhiTranslate="mallApp.myOrder.currency">Currency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remark"><span jhiTranslate="mallApp.myOrder.remark">Remark</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="mallApp.myOrder.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shippingId"><span jhiTranslate="mallApp.myOrder.shipping">Shipping</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billingId"><span jhiTranslate="mallApp.myOrder.billing">Billing</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountId"><span jhiTranslate="mallApp.myOrder.account">Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let myOrder of myOrders ;trackBy: trackId">
                    <td><a [routerLink]="['/my-order', myOrder.id, 'view']">{{ myOrder.id }}</a></td>
                    <td>{{ myOrder.total }}</td>
                    <td jhiTranslate="{{ 'mallApp.CurrencyType.' + myOrder.currency }}">{{ myOrder.currency }}</td>
                    <td>{{ myOrder.remark }}</td>
                    <td jhiTranslate="{{ 'mallApp.OrderStatus.' + myOrder.status }}">{{ myOrder.status }}</td>
                    <td>
                        <div *ngIf="myOrder.shipping">
                            <a [routerLink]="['/contact', myOrder.shipping?.id , 'view']" >{{ myOrder.shipping?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="myOrder.billing">
                            <a [routerLink]="['/contact', myOrder.billing?.id , 'view']" >{{ myOrder.billing?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="myOrder.accountId">
                            <a [routerLink]="['/my-account', myOrder.accountId , 'view']" >{{ myOrder.accountId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/my-order', myOrder.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/my-order', myOrder.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(myOrder)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="myOrders?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
