<div>
    <h2>
        <span jhiTranslate="mallApp.productHistory.home.title">Product Histories</span>
        <button class="btn btn-primary float-right jh-create-entity create-product-history" [routerLink]="['/', { outlets: { popup: ['product-history-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.productHistory.home.createLabel">
            Create new Product History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.productHistory.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="mallApp.productHistory.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="mallApp.productHistory.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="brand"><span jhiTranslate="mallApp.productHistory.brand">Brand</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="mallApp.productHistory.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="mallApp.productHistory.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remark"><span jhiTranslate="mallApp.productHistory.remark">Remark</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="mallApp.productHistory.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="mallApp.productHistory.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="mallApp.productHistory.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="mallApp.productHistory.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="mallApp.productHistory.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="product.id"><span jhiTranslate="mallApp.productHistory.product">Product</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let productHistory of productHistories ;trackBy: trackId">
                <td><a [routerLink]="['../product-history', productHistory.id ]">{{productHistory.id}}</a></td>
                <td>{{productHistory.name}}</td>
                <td>{{productHistory.code}}</td>
                <td>{{productHistory.brand}}</td>
                <td>{{productHistory.description}}</td>
                <td>{{productHistory.content}}</td>
                <td>{{productHistory.remark}}</td>
                <td jhiTranslate="{{'mallApp.ProductStatus.' + productHistory.status}}">{{productHistory.status}}</td>
                <td>{{productHistory.createdBy}}</td>
                <td>{{productHistory.createdDate | date:'medium'}}</td>
                <td>{{productHistory.lastModifiedBy}}</td>
                <td>{{productHistory.lastModifiedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="productHistory.product">
                        <a [routerLink]="['../product', productHistory.product?.id ]" >{{productHistory.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product-history', productHistory.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-history/'+ productHistory.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-history/'+ productHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
