<form name="editForm" role="form" novalidate (ngSubmit)="confirm()" #editForm="ngForm" *ngIf="object">

    <div class="modal-header">
		<h4 class="modal-title" jhiTranslate="mallApp.product.detail.other.title">Other Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
	
				<hr style='border-color: #5E5E5E;border-style: solid none;border-width: 2px 0;' />
				<span>Stuffs below are for reference only, will not be shown on your product page</span><br/>
				<span jhiTranslate="mallApp.product.detail.title">Product</span>&nbsp;&nbsp;&nbsp;&nbsp;
				ID: {{object.id}}&nbsp;&nbsp;&nbsp;&nbsp;
				<span jhiTranslate="mallApp.product.description">Description</span>: <span>{{object.description}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span jhiTranslate="mallApp.product.content">Content</span>: <span>{{object.content}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span jhiTranslate="mallApp.product.status">Status</span>: <span jhiTranslate="{{'mallApp.ProductStatus.' + object.status}}">{{object.status}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<!-- <span jhiTranslate="mallApp.product.userInfo">User Info</span>: 
				<div *ngIf="object.userInfo">
					<a [routerLink]="['/user-info', product.userInfo?.id]">{{object.userInfo?.id}}</a>
				</div> -->
	
	
				<dl class="row-md jh-entity-details">
			        <dt><span jhiTranslate="mallApp.product.name">Name</span></dt>
			        <dd>
			            <input type="text" class="form-control" name="name" id="field_brand" [(ngModel)]="object.name"  />
			        </dd>
			        <dt><span jhiTranslate="mallApp.product.code">Code</span></dt>
			        <dd>
			            <input type="text" class="form-control" name="code" id="field_brand" [(ngModel)]="object.code"  />
			        </dd>
			        <dt><span jhiTranslate="mallApp.product.brand">Brand</span></dt>
			        <dd>
			            <!-- <span>{{object.brand}}</span> -->
			            <input type="text" class="form-control" name="brand" id="field_brand" [(ngModel)]="object.brand"  />
			        </dd>
			        <dt><span jhiTranslate="mallApp.product.remark">Remark</span></dt>
			        <dd>
			            <input type="text" class="form-control" name="remark" id="field_brand" [(ngModel)]="object.remark"  />
			        </dd>
			        <dt><span jhiTranslate="mallApp.product.status">Status</span></dt>
			        <dd>
			            <select class="form-control" name="status" [(ngModel)]="object.status" id="field_status" >
			                <option value="ACTIVE" jhiTranslate="mallApp.ProductStatus.ACTIVE">ACTIVE</option>
			                <option value="RESTRICTED" jhiTranslate="mallApp.ProductStatus.RESTRICTED">RESTRICTED</option>
			                <option value="INACTIVE" jhiTranslate="mallApp.ProductStatus.INACTIVE">INACTIVE</option>
			            </select>
			        </dd>
					<!-- <dt><span jhiTranslate="mallApp.product.createdBy">Created By</span></dt>
			        <dd>
			        	<input type="text" class="form-control" name="createdBy" id="field_createdBy" [(ngModel)]="object.createdBy" />
			        </dd>
			        <dt><span jhiTranslate="mallApp.product.createdDate">Created Date</span></dt>
			        <dd>
	                	<input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="object.createdDate" />
			        </dd>
			        <dt><span jhiTranslate="mallApp.product.lastModifiedBy">Last Modified By</span></dt>
			        <dd>
			        	<input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy" [(ngModel)]="object.lastModifiedBy" />
			        </dd>
			        <dt><span jhiTranslate="mallApp.product.lastModifiedDate">Last Modified Date</span></dt>
			        <dd>
			            <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="object.lastModifiedDate" />
			        </dd>
			        <dt><span jhiTranslate="mallApp.product.userInfo">User Info</span></dt>
			        <dd>
			            <div *ngIf="object.userInfo">
			                <a [routerLink]="['/user-info', object.userInfo?.id]">{{object.userInfo?.id}}</a>
			            </div>
			        </dd>-->
			        <dt><span jhiTranslate="mallApp.product.shop">Shop</span></dt>
			        <dd>
			        </dd>
			    </dl>
			    <hr style='border-color: #5E5E5E;border-style: solid none;border-width: 2px 0;' />
			    <dl class="row-md jh-entity-details">
			        <dd><span jhiTranslate="mallApp.product.createdBy">Created By</span>:&nbsp;<span>{{object.createdBy}}</span></dd>
			        <dd><span jhiTranslate="mallApp.product.createdDate">Created Date</span>:&nbsp;<span>{{object.createdDate | date:'medium'}}</span></dd>
			        <dd><span jhiTranslate="mallApp.product.lastModifiedBy">Last Modified By</span>:&nbsp;<span>{{object.lastModifiedBy}}</span></dd>
			        <dd><span jhiTranslate="mallApp.product.lastModifiedDate">Last Modified Date</span>:&nbsp;<span>{{object.lastModifiedDate | date:'medium'}}</span></dd>
			    </dl>
			</div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
            <span class="fa fa-check-square"></span>&nbsp;<span jhiTranslate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</form>
