<form name="editForm" role="form" novalidate (ngSubmit)="confirm()" [formGroup]="editForm">

    <div class="modal-header">
		<h4 class="modal-title" jhiTranslate="mallApp.product.detail.other.title">Other Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
	
				<hr style='border-color: #5E5E5E;border-style: solid none;border-width: 2px 0;' />
				<span>Stuffs below are for reference only, will not be shown on your product page</span><br/>
				<span jhiTranslate="mallApp.product.detail.title">Product</span>&nbsp;&nbsp;&nbsp;&nbsp;
				ID: {{object.id}}&nbsp;&nbsp;&nbsp;&nbsp;
				<span jhiTranslate="mallApp.product.description">Description</span>: <span>{{object.description}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span jhiTranslate="mallApp.product.content">Content</span>: <span>{{object.content}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span jhiTranslate="mallApp.product.status">Status</span>: <span jhiTranslate="{{'mallApp.ProductStatus.' + object.status}}">{{object.status}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<!-- <span jhiTranslate="mallApp.product.userInfo">User Info</span>: 
				<div *ngIf="object.userInfo">
					<a [routerLink]="['/user-info', product.userInfo?.id]">{{object.userInfo?.id}}</a>
				</div> -->
				
				<div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
				<div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.brand" for="field_brand">Brand</label>
                    <input type="text" class="form-control" name="brand" id="field_brand"
                           formControlName="brand"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.content" for="field_content">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                           formControlName="content"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                           formControlName="remark"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="ACTIVE">{{ 'mallApp.ProductStatus.ACTIVE' | translate }}</option>
                        <option value="RESTRICTED">{{ 'mallApp.ProductStatus.RESTRICTED' | translate }}</option>
                        <option value="INACTIVE">{{ 'mallApp.ProductStatus.INACTIVE' | translate }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.product.shop" for="field_shop">Shop</label>
                    <select class="form-control" id="field_shop" name="shop" formControlName="shopId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shopOption.id" *ngFor="let shopOption of shops; trackBy: trackById">{{ shopOption.id }}</option>
                    </select>
                </div> -->
	
			    <hr style='border-color: #5E5E5E;border-style: solid none;border-width: 2px 0;' />
			    <dl class="row-md jh-entity-details">
			        <dd><span jhiTranslate="mallApp.product.createdBy">Created By</span>:&nbsp;<span>{{object.createdBy}}</span></dd>
			        <dd><span jhiTranslate="mallApp.product.createdDate">Created Date</span>:&nbsp;<span>{{editForm.get('createdDate')!.value}}</span></dd>
			        <dd><span jhiTranslate="mallApp.product.lastModifiedBy">Last Modified By</span>:&nbsp;<span>{{object.lastModifiedBy}}</span></dd>
			        <dd><span jhiTranslate="mallApp.product.lastModifiedDate">Last Modified Date</span>:&nbsp;<span>{{editForm.get('lastModifiedDate')!.value}}</span></dd>
			    </dl>
			</div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancel-confirm" class="btn btn-secondary" (click)="clear()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" id="confirm-entity" [disabled]="editForm.invalid" class="btn btn-primary" (click)="confirm()" >
            <fa-icon icon="check-square"></fa-icon>&nbsp;<span jhiTranslate="entity.action.confirm">Confirm</span>
        </button>        
    </div>
</form>
