<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderLabel" jhiTranslate="mallApp.order.home.createOrEditLabel">Create or edit a Order</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!order.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="order.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.order.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                [(ngModel)]="order.total"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.order.currency" for="field_currency">Currency</label>
            <select class="form-control" name="currency" [(ngModel)]="order.currency" id="field_currency" >
                <option value="HKD" jhiTranslate="mallApp.CurrencyType.HKD">HKD</option>
                <option value="CNY" jhiTranslate="mallApp.CurrencyType.CNY">CNY</option>
                <option value="USD" jhiTranslate="mallApp.CurrencyType.USD">USD</option>
                <option value="EUR" jhiTranslate="mallApp.CurrencyType.EUR">EUR</option>
                <option value="JPY" jhiTranslate="mallApp.CurrencyType.JPY">JPY</option>
                <option value="KRW" jhiTranslate="mallApp.CurrencyType.KRW">KRW</option>
                <option value="TWD" jhiTranslate="mallApp.CurrencyType.TWD">TWD</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.order.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                [(ngModel)]="order.remark"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.order.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="order.status" id="field_status" >
                <option value="PENDING" jhiTranslate="mallApp.OrderStatus.PENDING">PENDING</option>
                <option value="COMFIRMED" jhiTranslate="mallApp.OrderStatus.COMFIRMED">COMFIRMED</option>
                <option value="COMPLETED" jhiTranslate="mallApp.OrderStatus.COMPLETED">COMPLETED</option>
                <option value="CANCELLED" jhiTranslate="mallApp.OrderStatus.CANCELLED">CANCELLED</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="mallApp.order.userInfo" for="field_userInfo">User Info</label>
            <select class="form-control" id="field_userInfo" name="userInfo" [(ngModel)]="order.userInfoId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userInfoOption.id" *ngFor="let userInfoOption of userinfos; trackBy: trackUserInfoById">{{userInfoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
