<div class="footer">
   	<hr style='border-color: #5E5E5E;border-style: solid none;border-width: 2px 0;' />
   	<p style='text-align:center'><a jhiTranslate="footer.aboutUs" href="./construction" th:href="@{/construction}">About Us</a> &middot; 
   	<a jhiTranslate="footer.press" href="./construction" th:href="@{/construction}">Press</a> &middot; <a jhiTranslate="footer.privacyPolicy" href="./construction" th:href="@{/construction}">Privacy Policy</a> &middot; 
   	<a jhiTranslate="footer.faq" href="./construction" th:href="@{/construction}">FAQ</a> &middot; <a jhiTranslate="footer.contactUs" href="./construction" th:href="@{/construction}">Contact Us</a> &middot; 
   	<a jhiTranslate="footer.joinUs" href="./construction" th:href="@{/construction}">Join Us</a> &middot; <a jhiTranslate="footer.legal" href="./construction" th:href="@{/construction}">Legal</a> &middot; 
   	<a jhiTranslate="footer.terms" href="./construction" th:href="@{/construction}">Terms</a></p>
   	<hr style='border-color: #CCCCCC;border-style: solid none;border-width: 1px 0;' />
    <p style='text-align:center'>&copy; 2017 Wongs</p>  
</div>
