
<div *ngIf="paymentCreditCard">
    <h2><span jhiTranslate="mallApp.paymentCreditCard.detail.title">Payment Credit Card</span> {{paymentCreditCard.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mallApp.paymentCreditCard.name">Name</span></dt>
        <dd>
            <span>{{paymentCreditCard.name}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.paymentCreditCard.value">Value</span></dt>
        <dd>
            <span>{{paymentCreditCard.value}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.paymentCreditCard.holderName">Holder Name</span></dt>
        <dd>
            <span>{{paymentCreditCard.holderName}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.paymentCreditCard.expireDate">Expire Date</span></dt>
        <dd>
            <span>{{paymentCreditCard.expireDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.paymentCreditCard.payment">Payment</span></dt>
        <dd>
            <div *ngIf="paymentCreditCard.payment">
                <a [routerLink]="['/payment', paymentCreditCard.payment?.id]">{{paymentCreditCard.payment?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'payment-credit-card/'+ paymentCreditCard.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
