<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUrlLabel" jhiTranslate="mallApp.url.home.createOrEditLabel">Create or edit a Url</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!url.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="url.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.url.entityType" for="field_entityType">Entity Type</label>
            <input type="text" class="form-control" name="entityType" id="field_entityType"
                [(ngModel)]="url.entityType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.url.entityId" for="field_entityId">Entity Id</label>
            <input type="number" class="form-control" name="entityId" id="field_entityId"
                [(ngModel)]="url.entityId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.url.path" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                [(ngModel)]="url.path" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.url.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="url.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.url.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="url.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.url.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="url.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.url.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="url.lastModifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.url.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="url.lastModifiedDate"
                />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
