<div>
    <h2>
        <span jhiTranslate="mallApp.delegation.home.title">Delegations</span>
        <button class="btn btn-primary float-right jh-create-entity create-delegation" [routerLink]="['/', { outlets: { popup: ['delegation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.delegation.home.createLabel">
            Create new Delegation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.delegation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="delegations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="from"><span jhiTranslate="mallApp.delegation.from">From</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="to"><span jhiTranslate="mallApp.delegation.to">To</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="mallApp.delegation.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="delegateId"><span jhiTranslate="mallApp.delegation.delegateId">Delegate Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="mallApp.delegation.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="mallApp.delegation.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="mallApp.delegation.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="mallApp.delegation.lastModifiedBy">Last Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="mallApp.delegation.lastModifiedDate">Last Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="account.id"><span jhiTranslate="mallApp.delegation.account">Account</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let delegation of delegations ;trackBy: trackId">
                <td><a [routerLink]="['../delegation', delegation.id ]">{{delegation.id}}</a></td>
                <td>{{delegation.from | date:'medium'}}</td>
                <td>{{delegation.to | date:'medium'}}</td>
                <td jhiTranslate="{{'mallApp.DelegationType.' + delegation.type}}">{{delegation.type}}</td>
                <td>{{delegation.delegateId}}</td>
                <td jhiTranslate="{{'mallApp.CommonStatus.' + delegation.status}}">{{delegation.status}}</td>
                <td>{{delegation.createdBy}}</td>
                <td>{{delegation.createdDate | date:'medium'}}</td>
                <td>{{delegation.lastModifiedBy}}</td>
                <td>{{delegation.lastModifiedDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="delegation.account">
                        <a [routerLink]="['../my-account', delegation.account?.id ]" >{{delegation.account?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../delegation', delegation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delegation/'+ delegation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delegation/'+ delegation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
