<div>
    <h2 id="page-heading">
        <span jhiTranslate="mallApp.myAccount.home.title">My Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-my-account" [routerLink]="['/my-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.myAccount.home.createLabel">
            Create new My Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.myAccount.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="myAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="balance"><span jhiTranslate="mallApp.myAccount.balance">Balance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="mallApp.myAccount.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="companyCode"><span jhiTranslate="mallApp.myAccount.company">Company</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departmentCode"><span jhiTranslate="mallApp.myAccount.department">Department</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="officeCode"><span jhiTranslate="mallApp.myAccount.office">Office</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let myAccount of myAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/my-account', myAccount.id, 'view' ]">{{myAccount.id}}</a></td>
                <td>{{myAccount.balance}}</td>
                <td jhiTranslate="{{'mallApp.AccountType.' + myAccount.type}}">{{myAccount.type}}</td>
                <td>
                    <div *ngIf="myAccount.companyId">
                        <a [routerLink]="['../company', myAccount.companyId , 'view' ]" >{{myAccount.companyCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="myAccount.departmentId">
                        <a [routerLink]="['../department', myAccount.departmentId , 'view' ]" >{{myAccount.departmentCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="myAccount.officeId">
                        <a [routerLink]="['../office', myAccount.officeId , 'view' ]" >{{myAccount.officeCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/my-account', myAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/my-account', myAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'my-account', { outlets: { popup: myAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="myAccounts && myAccounts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
