<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMyAccountLabel" jhiTranslate="mallApp.myAccount.home.createOrEditLabel">Create or edit a My Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!myAccount.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="myAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.myAccount.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="myAccount.type" id="field_type" >
                <option value="PERSONAL">{{'mallApp.AccountType.PERSONAL' | translate}}</option>
                <option value="COMPANY">{{'mallApp.AccountType.COMPANY' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.myAccount.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="myAccount.company" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id === myAccount.company?.id ? myAccount.company : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.myAccount.department" for="field_department">Department</label>
            <select class="form-control" id="field_department" name="department" [(ngModel)]="myAccount.department" >
                <option [ngValue]="null"></option>
                <option [ngValue]="departmentOption.id === myAccount.department?.id ? myAccount.department : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.myAccount.office" for="field_office">Office</label>
            <select class="form-control" id="field_office" name="office" [(ngModel)]="myAccount.office" >
                <option [ngValue]="null"></option>
                <option [ngValue]="officeOption.id === myAccount.office?.id ? myAccount.office : officeOption" *ngFor="let officeOption of offices; trackBy: trackOfficeById">{{officeOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="mallApp.myAccount.shop" for="field_shop">Shop</label>
            <select class="form-control" id="field_shop" multiple name="shop" [(ngModel)]="myAccount.shops">
                <option [ngValue]="getSelected(myAccount.shops, shopOption)" *ngFor="let shopOption of shops; trackBy: trackShopById">{{shopOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
