
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save(false)"
		#editForm="ngForm">
		<jhi-checkout-control [cartControl]="cartControl"
			[myOrderId]="this.myOrder.id" [path]="path"> </jhi-checkout-control>
		<hr>
		<div class="row">
			<jhi-alert-error></jhi-alert-error>
		</div>		
		<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
			<div class="col-md-3">
				<h2>
					<span jhiTranslate="mallApp.myOrder.cart.review.title">Order Confirmation</span>
				</h2>
			</div>
			<div class="col-md-9">
				<button type="button" [disabled]="isSaving" class="btn btn-info"
					(click)="previousState()">
					<fa-icon icon="arrow-left"></fa-icon>&nbsp;<span
						jhiTranslate="entity.action.back">Back</span>
				</button>
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()"
					class="btn btn-success" (click)="save(true)">
					<fa-icon icon="chevron-circle-right"></fa-icon>&nbsp;<span
						jhiTranslate="entity.action.continue">Continue</span>
				</button>
			</div>
		</div>
		<!-- Title -->
		<div class="row d-none d-lg-flex">
			<div class="col-md-7 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.item.full">Item</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.unitPrice.full">Unit Price</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.quantity.full">Quantity</span></div>
			<div class="col-md-2 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.promotion.full">Promotion</span></div>		
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.subtotal.full">Subtotal</span></div>
		</div>
		<div class="row d-none d-md-flex d-lg-none">
			<div class="col-md-7 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.item.abbr">Item</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.unitPrice.abbr">Unit P.</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.quantity.abbr">Qty</span></div>
			<div class="col-md-2 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.promotion.abbr">Promo.</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.review.grid.title.subtotal.abbr">S. Total</span></div>
		</div>
		<!-- <div class="row d-sm-none">		
		</div> -->
		<hr>
		<!-- Content -->
		<div *ngFor="let shop of myOrder.shops" class="row d-none d-md-flex">
			<div class="w-100 px-3 py-2">
				{{shop.shop.name}}
				<div class="border px-4">
					<div *ngFor="let item of shop.items" class="row">
						<div class="col-md-3">
							<span class="img-wrap float-center">
								<img src="http://localhost/image/2019/07/01/product/1/Cute-Ball-Go-icon.png"
									class="img-thumbnail"
									alt=""
									style="width: 120px">
							</span>
						</div>
						<div class="col-md-2 border">
							<div class="">{{item.productItem.product.name}}</div>
						</div>
						<div class="col-md-2 border">
							<div class="">{{item.productItem.color.name + ' ' + item.productItem.size.name}}</div>
						</div>						
						<div class="col-md-1 border text-right">
							<span class="">{{item.price | currency}}</span>
						</div>
						<div class="col-md-1 border text-right">
							<span class="">{{item.quantity}}</span>
						</div>
						<div class="col-md-2 border text-right">
							<span class="">&nbsp;</span>
						</div>	
						<div class="col-md-1 border text-right px-3">
							<span class="">{{item.price * item.quantity | currency}}</span>
						</div>		
					</div>   
				</div>
			</div>
			<div class="w-100 px-3 py-2">
				<div class="row">
					<div class="col">
					    <label jhiTranslate="mallApp.myOrder.cart.review.grid.detail.remarks" for="field_remarks">Remarks</label>
	                    <input type="text" name="remarks" id="field_remarks" [(ngModel)]="shop.remark" />
					</div>
					<div class="col">
					    <label jhiTranslate="mallApp.myOrder.cart.review.grid.detail.shippingMethod" for="field_shippingMethod">Shipping Method</label>
	                    <input type="text" name="shippingMethod" id="field_shippingMethod" [(ngModel)]="shop.remark" />
					</div>
				</div>
				<div class="row">
					<div class="text-right border w-100 px-3">
						<span jhiTranslate="mallApp.myOrder.cart.review.grid.detail.shopTotalIncludeShipping">Total (Not include SHIPPING)</span>&nbsp;
						<span class="font-weight-bold" style="display:inline;">{{sumShop(shop) | currency}}</span>
					</div>
				</div>
			</div>
		</div>
		<div *ngFor="let shop of myOrder.shops" class="row d-md-none">
			<div class="w-100 px-3 py-2">
				{{shop.shop.name}}
				<div class="border px-4">
					<div *ngFor="let item of shop.items" class="row">
						<div class="col-sm-4">
							<span class="img-wrap float-center">
								<img src="http://localhost/image/2019/07/01/product/1/Cute-Ball-Go-icon.png"
									class="img-thumbnail"
									alt=""
									style="width: 100px">
							</span>
						</div>
						<div class="col-sm-8">
							<div class="row">
								<div class="col">{{item.productItem.product.name}}</div>
								<div class="col">{{item.productItem.color.name + ' ' + item.productItem.size.name}}&nbsp;&nbsp;</div>
							</div>
							<div class="row">
								<div class="col">
									{{item.price}}
								</div>
								<div class="col">
									&nbsp;
								</div>
								<div class="col">
									<span class="font-weight-bold">{{item.quantity}}</span>
								</div>
							</div>
						</div>
					</div>   
				</div>
			</div>
		</div>
		<!-- Order Total -->
		<div class="row">
		</div>
	</form>
	<hr>
	<jhi-checkout-summary [myOrder]=myOrder [itemTotal]=sumAll()>
	</jhi-checkout-summary>
</div>
