
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save(false)"
		#editForm="ngForm">
		<div class="row">
			<jhi-alert-error></jhi-alert-error>
		</div>
		<jhi-checkout-control [cartControl]="cartControl"
			[myOrderId]="this.myOrder.id" [path]="path"> </jhi-checkout-control>
		<hr>
		<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
			<div class="col-md-3">
				<h2>
					<span jhiTranslate="mallApp.myOrder.cart.review.title">Shopping
						Cart</span>
				</h2>
			</div>
			<div class="col-md-9">
				<button type="button" [disabled]="isSaving" class="btn btn-info"
					(click)="previousState()">
					<span class="fa fa-arrow-left"></span>&nbsp;<span
						jhiTranslate="entity.action.back"> Back</span>
				</button>
				<button type="button" [disabled]="editForm.form.invalid || isSaving"
					class="btn btn-primary" (click)="save(false)">
					<span class="fa fa-save"></span>&nbsp;<span
						jhiTranslate="entity.action.saveRefresh">Save & Refresh</span>
				</button>
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()"
					class="btn btn-success" (click)="save(true)">
					<span class="fa fa-chevron-circle-right"></span>&nbsp;<span
						jhiTranslate="entity.action.continue">Continue</span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-center">Item</div>
			<div class="col-md-2">Unit Price</div>
			<div class="col-md-2 text-center">Quantity</div>
			<div class="col-md-2 text-right">Subtotal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</div>
		<hr>
		<div *ngFor="let item of myOrder.items">
			<div class="row">
				<div class="col-md-1">
					<span class="hipster img-fluid img-rounded"></span>
				</div>
				<div class="col-md-5">
					<span class="hipster img-fluid img-rounded font-weight-bold">{{item.productItem.color.name
						+ ' ' + item.productItem.size.name}}</span>
				</div>
				<div class="col-md-2">
					<span class="hipster img-fluid img-rounded font-weight-bold">{{item.price}}</span>
				</div>
				<div class="col-md-2">
					<span class="hipster img-fluid img-rounded"> <input
						type="number" class="form-control font-weight-bold"
						name="price{{item.id}}" (change)="updateMyOrder()"
						[(ngModel)]="item.quantity" />
					</span>
				</div>
				<div class="col-md-2 text-right">
					<span class="hipster img-fluid img-rounded font-weight-bold">{{item.price
						* item.quantity}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</div>
			</div>
			<hr>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<form class="card p-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Promo code">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary">Redeem</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6 text-right">
				<span *ngIf="myOrder.items"
					jhiTranslate="mallApp.myOrder.cart.review.currentTotal">Current
					Total</span>&nbsp;&nbsp;({{myOrder.currency}}):
				<h3 style="display: inline;" class="font-weight-bold">{{sumAll()}}&nbsp;&nbsp;&nbsp;</h3>
			</div>
		</div>
	</form>
	<jhi-checkout-summary [shipping]="1000" [itemTotal]="9000">
	</jhi-checkout-summary>
</div>
