<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myShippingLabel" jhiTranslate="mallApp.shipping.home.createOrEditLabel">Create or edit a Shipping</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!shipping.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="shipping.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="shipping.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.currency" for="field_currency">Currency</label>
            <select class="form-control" name="currency" [(ngModel)]="shipping.currency" id="field_currency" >
                <option value="HKD">{{'mallApp.CurrencyType.HKD' | translate}}</option>
                <option value="CNY">{{'mallApp.CurrencyType.CNY' | translate}}</option>
                <option value="USD">{{'mallApp.CurrencyType.USD' | translate}}</option>
                <option value="EUR">{{'mallApp.CurrencyType.EUR' | translate}}</option>
                <option value="JPY">{{'mallApp.CurrencyType.JPY' | translate}}</option>
                <option value="KRW">{{'mallApp.CurrencyType.KRW' | translate}}</option>
                <option value="TWD">{{'mallApp.CurrencyType.TWD' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="shipping.date"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.receiver" for="field_receiver">Receiver</label>
            <input type="text" class="form-control" name="receiver" id="field_receiver"
                [(ngModel)]="shipping.receiver" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.contactNum" for="field_contactNum">Contact Num</label>
            <input type="text" class="form-control" name="contactNum" id="field_contactNum"
                [(ngModel)]="shipping.contactNum" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="shipping.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                [(ngModel)]="shipping.remark" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="shipping.status" id="field_status" >
                <option value="PENDING">{{'mallApp.ShippingStatus.PENDING' | translate}}</option>
                <option value="SHIPPED">{{'mallApp.ShippingStatus.SHIPPED' | translate}}</option>
                <option value="COMPLETED">{{'mallApp.ShippingStatus.COMPLETED' | translate}}</option>
                <option value="CANCELLED">{{'mallApp.ShippingStatus.CANCELLED' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.color" for="field_color">Color</label>
            <select class="form-control" id="field_color" name="color" [(ngModel)]="productItem.color">
                <option [ngValue]="null"></option>
                <option [ngValue]="productStyleOption.id === productItem.color?.id ? productItem.color : productStyleOption" *ngFor="let productStyleOption of colors; trackBy: trackProductStyleById">{{productStyleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.order" for="field_order">Order</label>
            <select class="form-control" id="field_order" name="order" [(ngModel)]="shipping.order">
                <option [ngValue]="null"></option>
                <option [ngValue]="myOrderOption.id" *ngFor="let myOrderOption of orders; trackBy: trackMyOrderById">{{myOrderOption.id}}</option>
                <option [ngValue]="myOrderOption.id === shipping.order?.id ? shipping.order : myOrderOption" *ngFor="let myOrderOption of colors; trackBy: trackProductStyleById">{{productStyleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.shippingAddress" for="field_shippingAddress">Shipping Address</label>
            <select class="form-control" id="field_shippingAddress" name="shippingAddress" [(ngModel)]="shipping.shippingAddressId">
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id" *ngFor="let addressOption of shippingaddresses; trackBy: trackAddressById">{{addressOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.billingAddress" for="field_billingAddress">Billing Address</label>
            <select class="form-control" id="field_billingAddress" name="billingAddress" [(ngModel)]="shipping.billingAddressId">
                <option [ngValue]="null"></option>
                <option [ngValue]="addressOption.id" *ngFor="let addressOption of billingaddresses; trackBy: trackAddressById">{{addressOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shipping.type" for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" [(ngModel)]="shipping.typeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="shippingTypeOption.id" *ngFor="let shippingTypeOption of shippingtypes; trackBy: trackShippingTypeById">{{shippingTypeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
