
<div *ngIf="userInfo">
    <h2><span jhiTranslate="mallApp.userInfo.detail.title">User Info</span> {{userInfo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mallApp.userInfo.user">User</span></dt>
        <dd>
            {{userInfo.user?.login}}
        </dd>
        <dt><span jhiTranslate="mallApp.userInfo.primaryAccount">Primary Account</span></dt>
        <dd>
            <div *ngIf="userInfo.primaryAccount">
                <a [routerLink]="['/my-account', userInfo.primaryAccount?.id]">{{userInfo.primaryAccount?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="mallApp.userInfo.defaultAccount">Default Account</span></dt>
        <dd>
            <div *ngIf="userInfo.defaultAccount">
                <a [routerLink]="['/my-account', userInfo.defaultAccount?.id]">{{userInfo.defaultAccount?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="mallApp.userInfo.account">Account</span></dt>
        <dd>
            <span *ngFor="let account of userInfo.accounts; let last = last">
                <a [routerLink]="['/my-account', account?.id ]">{{account.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-info/'+ userInfo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
