<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-info-heading" jhiTranslate="mallApp.userInfo.home.createOrEditLabel">Create or edit a User Info</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.userInfo.accountId" for="field_accountId">Account Id</label>
                    <input type="number" class="form-control" name="accountId" id="field_accountId"
                           formControlName="accountId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.userInfo.shopId" for="field_shopId">Shop Id</label>
                    <input type="number" class="form-control" name="shopId" id="field_shopId"
                           formControlName="shopId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.userInfo.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.userInfo.defaultAccount" for="field_defaultAccount">Default Account</label>
                    <select class="form-control" id="field_defaultAccount" name="defaultAccount" formControlName="defaultAccountId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="myAccountOption.id" *ngFor="let myAccountOption of defaultaccounts; trackBy: trackById">{{ myAccountOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="mallApp.userInfo.account" for="field_accounts">Account</label>
                    <select class="form-control" id="field_accounts" multiple name="accounts" formControlName="accounts">
                        <option [ngValue]="getSelected(editForm.get('accounts')!.value, myAccountOption)" *ngFor="let myAccountOption of myaccounts; trackBy: trackById">{{ myAccountOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
