
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save()"
		#editForm="ngForm">
		<jhi-checkout-control [cartControl]="cartControl"
			[myOrderId]="this.myOrder.id" [path]="path"> </jhi-checkout-control>
		<hr>
		<div class="row">
			<jhi-alert></jhi-alert>
		</div>		
		<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
			<div class="col-md-3">
				<h2>
					<span jhiTranslate="mallApp.myOrder.cart.payment.title">Payment</span>
				</h2>
			</div>
			<div class="col-md-9">
				<button type="button" [disabled]="isSaving" class="btn btn-info"
					(click)="previousState()">
					<span class="fa fa-arrow-left"></span>&nbsp;<span
						jhiTranslate="entity.action.back">Back</span>
				</button>
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()" [hidden]="!showContinue"
					class="btn btn-primary" (click)="save()">
					<span class="fa fa-chevron-circle-right"></span>&nbsp;<span
						jhiTranslate="mallApp.myOrder.cart.payment.button.checkout">Continue to Checkout</span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="d-block my-3">
					<div class="custom-control custom-radio">
						<input id="card" name="paymentMethod" type="radio" class="custom-control-input" required 
							[value]="'card'" [(ngModel)]="selectedMethod" (click)="onSelectionChange('card')"> 
						<label class="custom-control-label" for="card">Credit card</label>
					</div>
					<div class="custom-control custom-radio">
						<input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" checked required 
							[value]="'paypal'" [(ngModel)]="selectedMethod" (click)="onSelectionChange('paypal')">
						<label class="custom-control-label" for="paypal">Paypal</label>
					</div>
					<div class="custom-control custom-radio">
						<input id="payme" name="paymentMethod" type="radio"	class="custom-control-input" required 
							[value]="'payme'" [(ngModel)]="selectedMethod" (click)="onSelectionChange('payme')">
						<label class="custom-control-label" for="payme">Payme</label>
					</div>
				</div>
				<div [hidden]="selectedMethod !== 'card'">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<label for="field_holderName">Holder name</label>
							<input type="text" class="form-control" name="holderName" id="field_holderName" placeholder="Chan Tai Man" required 
								[(ngModel)]="paymentCard.holderName">
							<small class="text-muted">Full name as displayed on card</small>
							<div class="invalid-feedback">Name on card is required</div>
						</div>
						<div class="col-md-6 col-md-offset-3">
							<label for="field_cardNumber">Card number</label> 
							<input type="tel" size="20" class="form-control" name="cardNumber" id="field_cardNumber" placeholder="" required data-stripe="number" 
								ccNum [value]="paymentCard.cardNumber" [(ngModel)]="paymentCard.cardNumber">
							<div class="invalid-feedback">Card number is required</div>
						</div>
						<div>	</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="field_expiration">Expiration (MM/YYYY)</label>
							<input type="tel" class="form-control" name="expiration" id="field_expiration" size="6" placeholder="" required data-stripe="exp_monthYear" 
								ccExp [value]="paymentCard.expiration" [(ngModel)]="paymentCard.expiration" (change)="expirationChange()"> 
							<div class="invalid-feedback">Expiration date required</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="field_cvc">CVC</label>
							<input type="tel" size="4" class="form-control" name="cvc" id="field_cvc" placeholder="" required data-stripe="cvc" 
								ccCvc [(ngModel)]="paymentCard.cvc">
							<div class="invalid-feedback">Security code required</div>
						</div>
					</div>
					<!-- <hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit">Continue	to checkout</button> -->
				</div>
				<div [hidden]="selectedMethod !== 'paypal'">
					<div id="paypal-checkout-btn"></div>
				</div>
				<div [hidden]="selectedMethod !== 'payme'">
				This is for payme
				</div>
			</div>
		</div>
	</form>
	<hr>
	<jhi-checkout-summary [myOrder]=myOrder>
	</jhi-checkout-summary>
</div>
