
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save()"
		#editForm="ngForm">
		<div class="row">
			<jhi-alert-error></jhi-alert-error>
		</div>
		<jhi-checkout-control [cartControl]="cartControl"
			[myOrderId]="this.myOrder.id" [path]="path"> </jhi-checkout-control>
		<hr>
		<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
			<div class="col-md-3">
				<h2>
					<span jhiTranslate="mallApp.myOrder.cart.payment.title">Payment</span>
				</h2>
			</div>
			<div class="col-md-9">
				<button type="button" [disabled]="isSaving" class="btn btn-info"
					(click)="previousState()">
					<span class="fa fa-arrow-left"></span>&nbsp;<span
						jhiTranslate="entity.action.back"> Back</span>
				</button>
				<button type="button" [disabled]="editForm.form.invalid || isSaving"
					class="btn btn-primary" (click)="save()">
					<span class="fa fa-save"></span>&nbsp;<span
						jhiTranslate="entity.action.saveRefresh">Save & Refresh</span>
				</button>
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()"
					class="btn btn-success" (click)="save()">
					<span class="fa fa-chevron-circle-right"></span>&nbsp;<span
						jhiTranslate="entity.action.continue">Continue</span>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="d-block my-3">
					<div class="custom-control custom-radio">
						<input id="credit" name="paymentMethod" type="radio"
							class="custom-control-input" checked required> <label
							class="custom-control-label" for="credit">Credit card</label>
					</div>
					<div class="custom-control custom-radio">
						<input id="debit" name="paymentMethod" type="radio"
							class="custom-control-input" required> <label
							class="custom-control-label" for="debit">Debit card</label>
					</div>
					<div class="custom-control custom-radio">
						<input id="paypal" name="paymentMethod" type="radio"
							class="custom-control-input" required> <label
							class="custom-control-label" for="paypal">Paypal</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<label for="cc-name">Name on card</label> <input type="text"
							class="form-control" id="cc-name" placeholder="" required>
						<small class="text-muted">Full name as displayed on card</small>
						<div class="invalid-feedback">Name on card is required</div>
					</div>
					<div class="col-md-6 mb-3">
						<label for="cc-number">Credit card number</label> <input
							type="text" class="form-control" id="cc-number" placeholder=""
							required>
						<div class="invalid-feedback">Credit card number is required
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 mb-3">
						<label for="cc-expiration">Expiration</label> <input type="text"
							class="form-control" id="cc-expiration" placeholder="" required>
						<div class="invalid-feedback">Expiration date required</div>
					</div>
					<div class="col-md-3 mb-3">
						<label for="cc-expiration">CVV</label> <input type="text"
							class="form-control" id="cc-cvv" placeholder="" required>
						<div class="invalid-feedback">Security code required</div>
					</div>
				</div>
				<hr class="mb-4">
				<button class="btn btn-primary btn-lg btn-block" type="submit">Continue
					to checkout</button>
			</div>
		</div>
	</form>
	<jhi-checkout-summary [shipping]="1000" [itemTotal]="9000">
	</jhi-checkout-summary>
</div>
