<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDepartmentLabel" jhiTranslate="mallApp.department.home.createOrEditLabel">Create or edit a Department</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!department.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="department.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.department.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="department.code" required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.department.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="department.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.department.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="department.status" id="field_status" >
                <option value="ACTIVE" jhiTranslate="mallApp.CommonStatus.ACTIVE">ACTIVE</option>
                <option value="INACTIVE" jhiTranslate="mallApp.CommonStatus.INACTIVE">INACTIVE</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="mallApp.department.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" [(ngModel)]="department.parent" >
                <option [ngValue]="null"></option>
                <option [ngValue]="departmentOption.id === department.parent?.id ? department.parent : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="mallApp.department.office" for="field_office">Office</label>
            <select class="form-control" id="field_office" multiple name="office" [(ngModel)]="department.offices">
                <option [ngValue]="getSelected(department.offices, officeOption)" *ngFor="let officeOption of offices; trackBy: trackOfficeById">{{officeOption.code}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
