
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
	<jhi-checkout-control [cartControl]="cartControl" [myOrderId]="this.myOrder.id" [path]="path">
	</jhi-checkout-control>
    <hr>
	<div class="row">
		<jhi-alert-error></jhi-alert-error>
	</div>    
	<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
		<div class="col-md-3"><h2><span jhiTranslate="mallApp.myOrder.cart.method.title">Shipping Method</span></h2></div>
		<div class="col-md-9">
		    <button type="button" [disabled]="isSaving" class="btn btn-info" (click)="previousState()">
		        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
		    </button>
	        <button type="button" [disabled]="editForm.form.invalid || isSaving || !canGoNext()" class="btn btn-success" (click)="save()">
	            <span class="fa fa-chevron-circle-right"></span>&nbsp;<span jhiTranslate="entity.action.continue">Continue</span>
	        </button>
		</div>
    </div>    
	<div class="row">
		<div>&nbsp;&nbsp;&nbsp;&nbsp;Please select one of the following:</div>
	</div>
	<hr>
	<div *ngFor="let shippingType of shippingTypes; let idx = index">
		<div class="row" (click)="onSelectionChange(shippingType)">
			<div class="col-md-3">
				<span class="hipster img-fluid img-rounded font-weight-bold">&nbsp;</span>
			</div>		
			<div class="col-md-4">
				<span class="hipster img-fluid img-rounded font-weight-bold">
					<input type="radio" id="shippingType{{shippingType.id}}" name="shippingTypeGroup" [checked]="this.myOrder.shipping?.type?.id === shippingType.id" 
						[value]="shippingType.id" >&nbsp;&nbsp;<label>{{shippingType.name}}</label>
				</span>
			</div>
			<div class="col-md-2 text-right">
				<span class="hipster img-fluid img-rounded font-weight-bold">{{shippingType.price}}</span>
			</div>
			<div class="col-md-3">
				<span class="hipster img-fluid img-rounded font-weight-bold">&nbsp;</span>
			</div>	
		</div>
		<hr>
	</div>
    </form>
	<jhi-checkout-summary [myOrder]=myOrder [shipping]="this.myOrder.shipping?.price">
	</jhi-checkout-summary>
</div>
