	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-9">
	        <button type="button" class="btn btn-primary">
	        	<span class="fa fa-shopping-cart"></span>&nbsp;<span jhiTranslate="mallApp.myOrder.cart.button.reviewCart">Review Cart</span>
	        </button>	        
	        <span class="fa fa-angle-right"></span>
	        <button type="button" class="btn btn-outline-primary">
	        	<span class="fa fa-home"></span>&nbsp;<span jhiTranslate="mallApp.myOrder.cart.button.shippingInfo">Shipping Info</span>
	        </button>
	        <span class="fa fa-angle-right"></span>
	        <button type="button" class="btn btn-outline-primary">
	        	<span class="fa fa-truck"></span>&nbsp;<span jhiTranslate="mallApp.myOrder.cart.button.shipping">Shipping</span>
	        </button>
	        <span class="fa fa-angle-right"></span>
	        <button type="button" class="btn btn-outline-primary">
	        	<span class="fa fa-money"></span>&nbsp;<span jhiTranslate="mallApp.myOrder.cart.button.billingInfo">Billing Info</span>
	        </button>
	        <span class="fa fa-angle-right"></span>
	        <button type="button" class="btn btn-outline-primary" [disabled]="true">
	        	<span class="fa fa-credit-card"></span>&nbsp;<span jhiTranslate="mallApp.myOrder.cart.button.payment">Payment</span>
	        </button>
		</div>
    </div>