
<div *ngIf="shop">
    <div class="row" *ngIf="shop.id">
    	<div class="col-sm-8">
    		<h2>{{shop.name}}</h2>
    	</div>
	    <div class="col-sm-4 text-right">
	   		
	   		<button class="btn btn-primary float-right jh-create-entity create-product" type="submit" [routerLink]="['../../shop/' + shop.id + '/product']" [ngbTooltip]="addTooltip" placement="bottom">
	   		
	            <span class="fa fa-plus"></span>
	               <ng-template #addTooltip>
	                   <span jhiTranslate="mallApp.product.home.createLabel">Create new Product</span>
	               </ng-template>
	       	</button>
			<form name="searchForm" class="form-inline">
	               <div class="input-group w-100 mr-1">
	                   <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.product.home.search' | translate }}">
	                   <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
	                       <span class="fa fa-search"></span>
	                   </button>
	                   <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
	                       <span class="fa fa-trash-o"></span>
	                   </button>
	               </div>
	           </form>        	
	   	</div>
	</div>
    
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <!-- <div class="container" style='margin: 0 auto; width:100%; overflow: hidden;'> -->

		<div *ngIf="shop.products">
			<div class="row">
				<div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12 thumb" *ngFor="let product of shop.products ;trackBy: trackId">
	                <a class="thumbnail" target="_self" [routerLink]="['../../product', product.id ]">
	                    <img class="img-fluid" [src]="product.urls[0]?.path" alt="" />
	                    <div style="overflow: hidden; height:80px"><h3>{{product.name}}</h3></div>
	                </a>
            	</div>
			</div>
		</div>
	<!-- </div>-->
</div>
