<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="shop">
            <div class="row" *ngIf="shop.id">
                <div class="col-sm-8">
                    <h2>{{shop.name}}</h2>
                </div>
                <div class="col-sm-4 text-right">
                    
                    <button class="btn btn-primary float-right jh-create-entity create-product" type="submit" replaceUrl="true" [routerLink]="['/product', shop.id, 'shop']" [ngbTooltip]="addTooltip" placement="bottom">
                    
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <ng-template #addTooltip>
                            <span jhiTranslate="mallApp.product.home.createLabel">Create new Product</span>
                        </ng-template>
                    </button>
                    <form name="searchForm" class="form-inline">
                        <!-- <div class="input-group w-100 mr-1">
                            <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.product.home.search' | translate }}">
                            <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                                <fa-icon [icon]="'search'"></fa-icon>
                            </button>
                            <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                                <fa-icon [icon]="'trash'"></fa-icon>
                            </button>
                        </div> -->
                    </form>        	
                </div>
            </div>
            
            <hr>
            <jhi-alert-error></jhi-alert-error>
			<div *ngIf="shop.products">
				<div class="row">
					<jhi-product-card *ngFor="let product of shop.products ;"			
						[product]="product" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					</jhi-product-card>
				</div>
			</div>
        </div>
    </div>
</div>
