<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myShopLabel" jhiTranslate="mallApp.shop.home.createOrEditLabel">Create or edit a Shop</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!shop.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="shop.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shop.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="shop.code" required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shop.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="shop.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shop.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="shop.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shop.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="shop.status" id="field_status" >
                <option value="ACTIVE" jhiTranslate="mallApp.CommonStatus.ACTIVE">ACTIVE</option>
                <option value="INACTIVE" jhiTranslate="mallApp.CommonStatus.INACTIVE">INACTIVE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shop.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="shop.createdBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shop.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="shop.createdDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shop.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="shop.lastModifiedBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.shop.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="shop.lastModifiedDate"
                  />
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
