<div>
    <h2>
        <span jhiTranslate="mallApp.productStyle.home.title">Product Styles</span>
        <button class="btn btn-primary float-right jh-create-entity create-product-style" [routerLink]="['/', { outlets: { popup: ['product-style-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.productStyle.home.createLabel">
            Create new Product Style
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.productStyle.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productStyles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mallApp.productStyle.name">Name</span></th>
            <th><span jhiTranslate="mallApp.productStyle.code">Code</span></th>
            <th><span jhiTranslate="mallApp.productStyle.isDefault">Is Default</span></th>
            <th><span jhiTranslate="mallApp.productStyle.type">Type</span></th>
            <th><span jhiTranslate="mallApp.productStyle.product">Product</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productStyle of productStyles ;trackBy: trackId">
                <td><a [routerLink]="['../product-style', productStyle.id ]">{{productStyle.id}}</a></td>
                <td>{{productStyle.name}}</td>
                <td>{{productStyle.code}}</td>
                <td>{{productStyle.isDefault}}</td>
                <td jhiTranslate="{{'mallApp.ProductStyleType.' + productStyle.type}}">{{productStyle.type}}</td>
                <td>
                    <div *ngIf="productStyle.product">
                        <a [routerLink]="['../product', productStyle.product?.id ]" >{{productStyle.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product-style', productStyle.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-style/'+ productStyle.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-style/'+ productStyle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
