<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductItemLabel" jhiTranslate="mallApp.productItem.home.createOrEditLabel">Create or edit a Product Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!productItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="productItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="productItem.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="productItem.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.defaultItem" for="field_defaultItem">Default Item</label>
            <input type="checkbox" class="form-control" name="defaultItem" id="field_defaultItem"
                [(ngModel)]="productItem.defaultItem" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.color" for="field_color">Color</label>
            <input type="text" class="form-control" name="color" id="field_color"
                [(ngModel)]="productItem.color" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.size" for="field_size">Size</label>
            <input type="text" class="form-control" name="size" id="field_size"
                [(ngModel)]="productItem.size" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="productItem.quantity" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.currency" for="field_currency">Currency</label>
            <select class="form-control" name="currency" [(ngModel)]="productItem.currency" id="field_currency" >
                <option value="HKD">{{'mallApp.CurrencyType.HKD' | translate}}</option>
                <option value="CNY">{{'mallApp.CurrencyType.CNY' | translate}}</option>
                <option value="USD">{{'mallApp.CurrencyType.USD' | translate}}</option>
                <option value="EUR">{{'mallApp.CurrencyType.EUR' | translate}}</option>
                <option value="JPY">{{'mallApp.CurrencyType.JPY' | translate}}</option>
                <option value="KRW">{{'mallApp.CurrencyType.KRW' | translate}}</option>
                <option value="TWD">{{'mallApp.CurrencyType.TWD' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="productItem.price" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="productItem.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="productItem.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="productItem.lastModifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="productItem.lastModifiedDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.productItem.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="productItem.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === productItem.product?.id ? productItem.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
