
<div *ngIf="productItem">
    <h2><span jhiTranslate="mallApp.productItem.detail.title">Product Item</span> {{productItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mallApp.productItem.name">Name</span></dt>
        <dd>
            <span>{{productItem.name}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.code">Code</span></dt>
        <dd>
            <span>{{productItem.code}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.defaultItem">Default Item</span></dt>
        <dd>
            <span>{{productItem.defaultItem}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.color">Color</span></dt>
        <dd>
            <span>{{productItem.color}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.size">Size</span></dt>
        <dd>
            <span>{{productItem.size}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.quantity">Quantity</span></dt>
        <dd>
            <span>{{productItem.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.currency">Currency</span></dt>
        <dd>
            <span jhiTranslate="{{'mallApp.CurrencyType.' + productItem.currency}}">{{productItem.currency}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.price">Price</span></dt>
        <dd>
            <span>{{productItem.price}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.createdBy">Created By</span></dt>
        <dd>
            <span>{{productItem.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.createdDate">Created Date</span></dt>
        <dd>
            <span>{{productItem.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{productItem.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{productItem.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.productItem.product">Product</span></dt>
        <dd>
            <div *ngIf="productItem.product">
                <a [routerLink]="['/product', productItem.product?.id]">{{productItem.product?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product-item/'+ productItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
