<div>
    <h2 id="page-heading">
        <span jhiTranslate="mallApp.productItem.home.title">Product Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-item" [routerLink]="['/product-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.productItem.home.createLabel">
            Create a new Product Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.productItem.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="productItems?.length === 0">
        <span jhiTranslate="mallApp.productItem.home.notFound">No productItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productItems?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="code"><span jhiTranslate="mallApp.productItem.code">Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isDefault"><span jhiTranslate="mallApp.productItem.isDefault">Is Default</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="mallApp.productItem.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currency"><span jhiTranslate="mallApp.productItem.currency">Currency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="mallApp.productItem.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="colorId"><span jhiTranslate="mallApp.productItem.color">Color</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sizeId"><span jhiTranslate="mallApp.productItem.size">Size</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span jhiTranslate="mallApp.productItem.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productItem of productItems ;trackBy: trackId">
                    <td><a [routerLink]="['/product-item', productItem.id, 'view']">{{ productItem.id }}</a></td>
                    <td>{{ productItem.code }}</td>
                    <td>{{ productItem.isDefault }}</td>
                    <td>{{ productItem.quantity }}</td>
                    <td jhiTranslate="{{ 'mallApp.CurrencyType.' + productItem.currency }}">{{ productItem.currency }}</td>
                    <td>{{ productItem.price }}</td>
                    <td>
                        <div *ngIf="productItem.colorId">
                            <a [routerLink]="['/product-style', productItem.colorId , 'view']" >{{ productItem.colorId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="productItem.sizeId">
                            <a [routerLink]="['/product-style', productItem.sizeId , 'view']" >{{ productItem.sizeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="productItem.productId">
                            <a [routerLink]="['/product', productItem.productId , 'view']" >{{ productItem.productId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-item', productItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-item', productItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="productItems?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
