<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderStatusHistoryLabel" jhiTranslate="mallApp.orderStatusHistory.home.createOrEditLabel">Create or edit a Order Status History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!orderStatusHistory.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="orderStatusHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.orderStatusHistory.effectiveDate" for="field_effectiveDate">Effective Date</label>
            <div class="d-flex">
                <input id="field_effectiveDate" type="datetime-local" class="form-control" name="effectiveDate" [(ngModel)]="orderStatusHistory.effectiveDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.orderStatusHistory.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="orderStatusHistory.status" id="field_status" >
                <option value="PENDING">{{'mallApp.OrderStatus.PENDING' | translate}}</option>
                <option value="COMFIRMED">{{'mallApp.OrderStatus.COMFIRMED' | translate}}</option>
                <option value="COMPLETED">{{'mallApp.OrderStatus.COMPLETED' | translate}}</option>
                <option value="CANCELLED">{{'mallApp.OrderStatus.CANCELLED' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.orderStatusHistory.order" for="field_order">Order</label>
            <select class="form-control" id="field_order" name="order" [(ngModel)]="orderStatusHistory.order" >
                <option [ngValue]="null"></option>
                <option [ngValue]="myOrderOption.id === orderStatusHistory.order?.id ? orderStatusHistory.order : myOrderOption" *ngFor="let myOrderOption of myorders; trackBy: trackMyOrderById">{{myOrderOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
