
<div *ngIf="orderStatusHistory">
    <h2><span jhiTranslate="mallApp.orderStatusHistory.detail.title">Order Status History</span> {{orderStatusHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mallApp.orderStatusHistory.effectiveDate">Effective Date</span></dt>
        <dd>
            <span>{{orderStatusHistory.effectiveDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.orderStatusHistory.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'mallApp.OrderStatus.' + orderStatusHistory.status}}">{{orderStatusHistory.status}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.orderStatusHistory.order">Order</span></dt>
        <dd>
            <div *ngIf="orderStatusHistory.order">
                <a [routerLink]="['/my-order', orderStatusHistory.order?.id]">{{orderStatusHistory.order?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order-status-history/'+ orderStatusHistory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
