<div>
    <h2 id="page-heading">
        <span jhiTranslate="mallApp.paymentStatusHistory.home.title">Payment Status Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-status-history" [routerLink]="['/payment-status-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mallApp.paymentStatusHistory.home.createLabel">
            Create new Payment Status History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mallApp.paymentStatusHistory.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paymentStatusHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectiveDate"><span jhiTranslate="mallApp.paymentStatusHistory.effectiveDate">Effective Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="mallApp.paymentStatusHistory.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="payment.id"><span jhiTranslate="mallApp.paymentStatusHistory.payment">Payment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let paymentStatusHistory of paymentStatusHistories ;trackBy: trackId">
                <td><a [routerLink]="['/payment-status-history', paymentStatusHistory.id, 'view' ]">{{paymentStatusHistory.id}}</a></td>
                <td>{{paymentStatusHistory.effectiveDate | date:'medium'}}</td>
                <td jhiTranslate="{{'mallApp.PaymentStatus.' + paymentStatusHistory.status}}">{{paymentStatusHistory.status}}</td>
                <td>
                    <div *ngIf="paymentStatusHistory.payment">
                        <a [routerLink]="['../payment', paymentStatusHistory.payment?.id, 'view' ]" >{{paymentStatusHistory.payment?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/payment-status-history', paymentStatusHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-status-history', paymentStatusHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'payment-status-history', { outlets: { popup: paymentStatusHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
