<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-quantity-heading" jhiTranslate="mallApp.quantity.home.createOrEditLabel">Create or edit a Quantity</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!quantity.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="quantity.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.quantity.from" for="field_from">From</label>
                    <div class="d-flex">
                        <input id="field_from" type="datetime-local" class="form-control" name="from" [(ngModel)]="from" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.quantity.to" for="field_to">To</label>
                    <div class="d-flex">
                        <input id="field_to" type="datetime-local" class="form-control" name="to" [(ngModel)]="to" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.quantity.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="quantity.quantity" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.quantity.item" for="field_item">Item</label>
                    <select class="form-control" id="field_item" name="item" [(ngModel)]="quantity.itemId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productItemOption.id" *ngFor="let productItemOption of productitems; trackBy: trackProductItemById">{{productItemOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
