<form name="editForm" role="form" novalidate (ngSubmit)="ok()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="fileUploadLabel" jhiTranslate="mallApp.fileUpload.title">File Upload</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>    	
    </div>
    <div class="modal-body">
        <jhi-alert></jhi-alert>
		
		<div draggable="true" ngClass="{{dragAreaClass}}">
			<div class="row">
				<div class="col-md-12 text-center" >
					<a href="javascript:void(0)" (click)="file.click()" >
						Click to browse 
					</a>
					Or Drag & Drop to upload your files
			        <input type="file" 
			              #file 
			              [multiple]="(maxFiles > 1)"
			              (change) = "onFileChange($event)"
			              style="display:none" />
				</div>
			</div>
		</div>
		
		<br /><br />
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
            <span class="fa fa-check-square"></span>&nbsp;<span jhiTranslate="entity.action.ok">OK</span>
        </button>
    </div>
</form>
