<form [formGroup]="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPriceLabel" jhiTranslate="mallApp.price.home.createOrEditLabel">Create or edit a Price</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <div formArrayName="prices">
          <div *ngFor="let price of editForm.controls.prices.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Price {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="editForm.controls.addresses.controls.length > 1" (click)="removePrice(i)"></span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <address [group]="editForm.controls.prices.controls[i]"></address>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addPrice()" style="cursor: default">
            Add price +
          </a>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <div class="clearfix"></div>
    </div>
</form>
