<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPriceLabel" jhiTranslate="mallApp.price.home.advancePrice">Advance Price</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>    	
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
		<div *ngFor="let price of prices; let i=index;" class="col-md-12">
			From <input type="datetime-local" name="from[{{price.id}}]" [(ngModel)]="price.from" />
			To <input type="datetime-local" name="to[{{price.id}}]" [(ngModel)]="price.to" />
			<input type="number" name="price[{{price.id}}]" [(ngModel)]="price.price" placeholder="{{'mallApp.price.tooltip.priceField' | translate}}" [ngbTooltip]="addTooltip" />
			<button type="button" class="btn btn-secondary" (click)="remove(i);">
				<span class="fa fa-times"></span>&nbsp;<span jhiTranslate="mallApp.price.button.remove">remove</span>
			</button>
		    <ng-template #addTooltip>
            	<span jhiTranslate="mallApp.price.tooltip.priceField">Price, e.g. 999</span>
            </ng-template>
		</div>
		
		<br /><br />
		<button type="button" class="btn btn-secondary" (click)="add();">
			<span class="fa fa-plus"></span>&nbsp;<span jhiTranslate="mallApp.price.button.addOneMoreTimeslot">Add one more Timeslot</span>
		</button>
        <div>{{editForm.value | json}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
            <span class="fa fa-check-square"></span>&nbsp;<span jhiTranslate="entity.action.confirm">Confirm</span>
        </button>
        <div class="clearfix"></div>
    </div>
</form>
