<form role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPriceLabel" jhiTranslate="mallApp.price.home.createOrEditLabel">Create or edit a Price</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
<div ngModelGroup="prices">
  <h3>Prices</h3>
  <div *ngFor="let price of prices; let i=index;">
    <label>Price {{i + 1}}</label>
    From <input type="datetime-local" name="from[{{price.id}}]" [(ngModel)]="price.from" /> To
    <input type="datetime-local" name="to[{{price.id}}]" [(ngModel)]="price.to" />
    <button type="button" (click)="remove(i);">remove</button>
  </div>
  <button type="button" (click)="add();">Add price</button>
</div> 
        
        <div>{{editForm.value | json}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <div class="clearfix"></div>
    </div>
</form>
