<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductLabel" jhiTranslate="mallApp.product.home.createOrEditLabel">Create or edit a Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!product.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="product.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="product.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="product.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.brand" for="field_brand">Brand</label>
            <input type="text" class="form-control" name="brand" id="field_brand"
                [(ngModel)]="product.brand" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="product.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="product.content" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.remark" for="field_remark">Remark</label>
            <input type="text" class="form-control" name="remark" id="field_remark"
                [(ngModel)]="product.remark" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="product.status" id="field_status" >
                <option value="ACTIVE">{{'mallApp.ProductStatus.ACTIVE' | translate}}</option>
                <option value="RESTRICTED">{{'mallApp.ProductStatus.RESTRICTED' | translate}}</option>
                <option value="INACTIVE">{{'mallApp.ProductStatus.INACTIVE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.createdBy" for="field_createdBy">Created By</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                [(ngModel)]="product.createdBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="product.createdDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
            <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                [(ngModel)]="product.lastModifiedBy" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
            <div class="d-flex">
                <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="product.lastModifiedDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="mallApp.product.userInfo" for="field_userInfo">User Info</label>
            <select class="form-control" id="field_userInfo" name="userInfo" [(ngModel)]="product.userInfo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userInfoOption.id === product.userInfo?.id ? product.userInfo : userInfoOption" *ngFor="let userInfoOption of userinfos; trackBy: trackUserInfoById">{{userInfoOption.id}}</option>
                <!--<option [ngValue]="userInfoOption.id" *ngFor="let userInfoOption of userinfos; trackBy: trackUserInfoById">{{userInfoOption.id}}</option>-->
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
