<div *ngIf="product">
	<div class="row">
	  <div class="col-md-1">photo listing</div>
	  <div class="col-md-3">main photo</div>	
	  <div class="col-md-5">product description</div>
	  <div class="col-md-3">other</div>	
	</div>
	<div class="row">
	  <div class="col-md-1">
	  	<span class="hipster img-fluid img-rounded"></span>
	  </div>
	  <div class="col-md-3">
	  	<span class="hipster img-fluid img-rounded"></span>
	  </div>	
	  <div class="col-md-5">
	  	<table>
	  		<tr>
	  			<td>{{product.description}}</td>
	  		</tr>
	  		<tr>
	  			<td>by {{product.brand}}
	  			</td>
	  		</tr>	  	
	  		<tr>
	  			<td>123 customer reviews  
	  			</td>
	  		</tr>
	  		<tr>
	  			<td>
	  				<table th:if="${product.productItems.size() == 1}">
	  					<tr>
				  			<td>&nbsp;
				  			</td>
				  		</tr>
				  		<tr>
				  			<td>List Price:	$20.75
				  			</td>
				  		</tr>
				  		<tr>
				  			<td>Price:	$<span th:text="${product.productItems[0].markedPrice}">$99.00</span> &amp; <!-- FREE Shipping on orders over $35. Details -->
				  			</td>
				  		</tr>	  
				  		<tr>
				  			<td>You Save:	$5.90 (28%)
				  			</td>
				  		</tr>
	  					<tr>
				  			<td><input type="button" value="Add to Cart" />
				  			</td>
				  		</tr>				  		
	  					<tr>
				  			<td>&nbsp;
				  			</td>
				  		</tr>				  		
	  				</table>
	  				<table th:if="${product.productItems.size() > 1}">
	  					<tr>
				  			<td>&nbsp;
				  			</td>
				  		</tr>	  				
				  		<tr>
				  			<td>List Price:	$20.75 
				  			</td>
				  		</tr>
				  		<tr>
				  			<td>Price:	$<span th:text="${product.productItems[0].markedPrice}">$99.00</span> &amp; FREE Shipping on orders over $35. Details
				  			</td>
				  		</tr>	  
				  		<tr>
				  			<td>You Save:	$5.90 (28%)
				  			</td>
				  		</tr>
	  					<tr>
				  			<td>&nbsp;
				  			</td>
				  		</tr>				  		
	  				</table>	  				
	  			</td>
	  		</tr>
	  				
	  		<tr>
	  			<td>In stock/Pre-order/Out-of-order
	  			</td>
	  		</tr>
	  		<tr>
	  			<td>Estimated Delivery Date: Monday, Feb. 8 when you choose Two-Day Shipping at checkout.
	  			</td>
	  		</tr>
	  		<tr>
	  			<td>Ships from and sold by Koozam.
	  			</td>
	  		</tr>
	  		<tr>
	  			<td>Size: With Backpack
	  			</td>
	  		</tr>
	  		<tr>
	  			<td>Options
	  			</td>
	  		</tr>
	  		<tr>
	  			<td>Item Description
	  			</td>
	  		</tr>	  			  		  		

	  	</table>
	  </div>
	  <div class="col-md-3">other</div>		
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8" th:utext="${product.content}">
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
	
<div class="row">
<div *ngIf="product">
    <h2><span jhiTranslate="mallApp.product.detail.title">Product</span> {{product.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="mallApp.product.name">Name</span></dt>
        <dd>
            <span>{{product.name}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.code">Code</span></dt>
        <dd>
            <span>{{product.code}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.brand">Brand</span></dt>
        <dd>
            <span>{{product.brand}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.description">Description</span></dt>
        <dd>
            <span>{{product.description}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.content">Content</span></dt>
        <dd>
            <span>{{product.content}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.remark">Remark</span></dt>
        <dd>
            <span>{{product.remark}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'mallApp.ProductStatus.' + product.status}}">{{product.status}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.createdBy">Created By</span></dt>
        <dd>
            <span>{{product.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.createdDate">Created Date</span></dt>
        <dd>
            <span>{{product.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.lastModifiedBy">Last Modified By</span></dt>
        <dd>
            <span>{{product.lastModifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.lastModifiedDate">Last Modified Date</span></dt>
        <dd>
            <span>{{product.lastModifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="mallApp.product.userInfo">User Info</span></dt>
        <dd>
            <div *ngIf="product.userInfo">
                <a [routerLink]="['/user-info', product.userInfo?.id]">{{product.userInfo?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
