<div *ngIf="product" [ngSwitch]="isEditing">
	<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
	<div class="row">
		<jhi-alert-error></jhi-alert-error>
	</div>
	<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<button *ngSwitchCase="true" type="button" [disabled]="isSaving" class="btn btn-primary" (click)="uploadMedia()">
		        <span class="fa fa-upload"></span>&nbsp;<span jhiTranslate="entity.action.upload"> Upload</span>
		    </button>
		</div>
		<div class="col-md-5">
		    <button type="button" [disabled]="isSaving" class="btn btn-info" (click)="previousState()">
		        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
		    </button>
		    <button *ngSwitchCase="true" type="button" [disabled]="isSaving || !product.id" class="btn btn-default" (click)="cancel()">
	            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
	        </button>
	        <button *ngSwitchCase="true" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
	            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
	        </button>	        
	        <button *ngSwitchCase="false" type="submit" [disabled]="isSaving" class="btn btn-primary" (click)="edit()">
	            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
	        </button>
		</div>
		<div class="col-md-3"></div>
    </div>

	<div class="row">
		<div class="col-md-12">
			<h1>Draggable</h1>
	
			<h2>Part 1 - draggable directive</h2>
			
			<div class="box" jhiDraggable
			  (dragStart)="onDragStart()" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd()">
			  My box
			</div>
			
			<div class="box" jhiDraggableRx
			     (dragStart)="onDragStart()" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd()">
			  My box
			</div>
			
			<h2>Part 2 - movable directive</h2>
			
			<div class="box" jhiMovable>
			  Movable 1
			</div>
			
			<div class="box" jhiMovable [appMovableReset]="true">
			  Movable 2
			</div>
			
			<h2>Part 3 - movable area</h2>

			<div class="area" jhiMovableArea>
			  <div class="box" jhiMovable *ngFor="let trapped of trappedBoxes">
			    {{ trapped }}
			  </div>
			</div>
			
			<button (click)="add()">Add</button>
			
			<h2>Part 4 - the draggable helper</h2>
			
			<div class="box" jhiDraggable>
			  Drag me!
			
			  <div class="box helper" *jhiDraggableHelper>
			    Drag me!
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">photo listing</div>
		<div class="col-md-3">main photo</div>
		<div class="col-md-5">product description</div>
		<div class="col-md-3">other</div>	
	</div>
	<div class="row">
		<div class="col-md-1">
	  		<div *ngFor="let url of product.urls" class="img-wrap">
				<img [src]="url.path"
	          		class="img-thumbnail"
	          		(click)="selectUrl(url)"
	          		alt="">        		
	          	<button *ngSwitchCase="true"  type="button" [disabled]="isSaving" class="fa fa-remove close" (click)="deleteMedia(url)">
				</button>
			</div>
		</div>
		<div class="col-md-3">
			<span class="hipster img-fluid img-rounded" *ngIf="selectedUrl && selectedUrl.path">
		  		<img [src]="selectedUrl.path"
	          		class="img-fluid"
	          		alt="">
		  	</span>
		</div>
		<div class="col-md-5">
		  	<div class="row-md jh-entity-details">
		    	<div>
		            <span *ngSwitchCase="false">{{product.description}}</span>
		            <span *ngSwitchCase="true"><textarea class="form-control" name="description" id="field_description" [(ngModel)]="product.description" rows="5" cols="50"></textarea></span>
		        </div>
		    	<div>
		            <span *ngIf="product.brand || isEditing==true">by </span><span *ngSwitchCase="false">{{product.brand}}</span>
		            <span *ngSwitchCase="true"><input type="text" class="form-control" name="brand" id="field_brand" [(ngModel)]="product.brand"  /></span>
		        </div>
		    	<div>
		            <span>123 customer reviews</span>
		        </div>
	            <div>
		  			&nbsp;
		  		</div>
		  		<div *ngSwitchCase="true">
		  			<div *ngIf="product.colors">
		  				<div>Color</div>
			        	<span *ngFor="let color of product.colors">
			        		<button [disabled]="isSaving" type="button" class="btn btn-default" (click)="editStyle(color)">
			        			<span>{{color.name}}</span>
			        		</button>
			        	</span>
			        	<button [disabled]="isSaving" type="button" class="btn btn-default" (click)="addColor()">
				            <span>+</span>
				        </button>
					</div>
					<div *ngIf="product.sizes">
						<div>Size</div>
			        	<span *ngFor="let size of product.sizes">
			        		<button [disabled]="isSaving" type="button" class="btn btn-default" (click)="editStyle(size)">
			        			<span>{{size.name}}</span>
			        		</button>
			        	</span>
			        	<button [disabled]="isSaving" type="button" class="btn btn-default" (click)="addSize()">
				            <span>+</span>
				        </button>
					</div>
		  		</div>
		  		<div *ngSwitchCase="false">
		  			<div *ngIf="product.colors">
			        	<span *ngFor="let color of product.colors">
			        		<button type="button" [disabled]="color.disabled" (click)="changeStyle(color)" [ngClass]="(this.selectedColor == color) ? 'btn-success' : 'btn-light'" class="btn btn-sm">{{color.name}}</button>
			        	</span>
					</div>
					<div *ngIf="product.sizes">
			        	<span *ngFor="let size of product.sizes">
							<button type="button" [disabled]="size.disabled" (click)="changeStyle(size)" [ngClass]="(this.selectedSize == size) ? 'btn-success' : 'btn-light'" class="btn btn-sm">{{size.name}}</button>
			        	</span>
					</div>
		  		</div>
		  		<div *ngSwitchCase="true">
		  			<div>Item</div>
		  			<div *ngIf="product.items">
			        	<button [disabled]="isSaving" type="button" class="btn btn-default" (click)="editItems('CODE')">
				            <span>CODE</span>
				        </button>
				        <button [disabled]="isSaving" type="button" class="btn btn-default" (click)="editItems('PRICE')">
				            <span>PRICE</span>
				        </button>
			        	<button [disabled]="isSaving" type="button" class="btn btn-default" (click)="editItems('QUANTITY')">
				            <span>QUANTITY</span>
				        </button>			        
					</div>
		  		</div>

	            <div>
		  			&nbsp;
		  		</div>
		  		<div *ngIf="selectedItem.id">
		  			Price:	<span>{{selectedItem?selectedItem.currency : 'Fuck you'}} {{selectedItem?selectedItem.price : 'asshole'}}</span>
		  		</div>
		  		<div>
		  			You Save: $5.90 (28%)
		  		</div>	  		  
				<div *ngSwitchCase="false">
				    <button type="button" [disabled]="isSaving || !(selectedItem && selectedItem.price)" class="btn btn-default" (click)="addToCart()">
			            <span>Add to Cart</span>
			        </button>
				</div>
				
				<div *ngIf="false">
			  		In stock/Pre-order/Out-of-order
			  	</div>
			  	<div *ngIf="false">
			  		Estimated Delivery Date: Monday, Feb. 8 when you choose Two-Day Shipping at checkout.
			  	</div>
			  	<div *ngIf="false">
			  		Ships from and sold by Koozam.
			  	</div>
			  	<div *ngIf="false">
			  		Size: With Backpack
			  	</div>
			  	<div *ngIf="false">
			  		Options
			  	</div>	
			  	<div *ngIf="false">
			  		Item Description
			  	</div> 
				
		  	</div>

		</div>
		<div class="col-md-3">other</div>		
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-11">

			<hr style='border-color: #5E5E5E;border-style: solid none;border-width: 2px 0;' />
			<span>Stuffs below are for reference only, will not be shown on your product page</span><br/>
			<span jhiTranslate="mallApp.product.detail.title">Product</span>&nbsp;&nbsp;&nbsp;&nbsp;
			ID: {{product.id}}&nbsp;&nbsp;&nbsp;&nbsp;
			<span jhiTranslate="mallApp.product.description">Description</span>: <span>{{product.description}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span jhiTranslate="mallApp.product.content">Content</span>: <span>{{product.content}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
			<span jhiTranslate="mallApp.product.status">Status</span>: <span jhiTranslate="{{'mallApp.ProductStatus.' + product.status}}">{{product.status}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
			<!-- <span jhiTranslate="mallApp.product.userInfo">User Info</span>: 
			<div *ngIf="product.userInfo">
				<a [routerLink]="['/user-info', product.userInfo?.id]">{{product.userInfo?.id}}</a>
			</div> -->


			<dl *ngSwitchCase="true" class="row-md jh-entity-details">
		        <dt><span jhiTranslate="mallApp.product.name">Name</span></dt>
		        <dd>
		            <input type="text" class="form-control" name="name" id="field_brand" [(ngModel)]="product.name"  />
		        </dd>
		        <dt><span jhiTranslate="mallApp.product.code">Code</span></dt>
		        <dd>
		            <input type="text" class="form-control" name="code" id="field_brand" [(ngModel)]="product.code"  />
		        </dd>
		        <dt><span jhiTranslate="mallApp.product.brand">Brand</span></dt>
		        <dd>
		            <span>{{product.brand}}</span>
		        </dd>
		        <dt><span jhiTranslate="mallApp.product.remark">Remark</span></dt>
		        <dd>
		            <input type="text" class="form-control" name="remark" id="field_brand" [(ngModel)]="product.remark"  />
		        </dd>
		        <dt><span jhiTranslate="mallApp.product.status">Status</span></dt>
		        <dd>
		            <select class="form-control" name="status" [(ngModel)]="product.status" id="field_status" >
		                <option value="ACTIVE" jhiTranslate="mallApp.ProductStatus.ACTIVE">ACTIVE</option>
		                <option value="RESTRICTED" jhiTranslate="mallApp.ProductStatus.RESTRICTED">RESTRICTED</option>
		                <option value="INACTIVE" jhiTranslate="mallApp.ProductStatus.INACTIVE">INACTIVE</option>
		            </select>
		        </dd>
				<!-- <dt><span jhiTranslate="mallApp.product.createdBy">Created By</span></dt>
		        <dd>
		        	<input type="text" class="form-control" name="createdBy" id="field_createdBy" [(ngModel)]="product.createdBy" />
		        </dd>
		        <dt><span jhiTranslate="mallApp.product.createdDate">Created Date</span></dt>
		        <dd>
                	<input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="product.createdDate" />
		        </dd>
		        <dt><span jhiTranslate="mallApp.product.lastModifiedBy">Last Modified By</span></dt>
		        <dd>
		        	<input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy" [(ngModel)]="product.lastModifiedBy" />
		        </dd>
		        <dt><span jhiTranslate="mallApp.product.lastModifiedDate">Last Modified Date</span></dt>
		        <dd>
		            <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="product.lastModifiedDate" />
		        </dd>
		        <dt><span jhiTranslate="mallApp.product.userInfo">User Info</span></dt>
		        <dd>
		            <div *ngIf="product.userInfo">
		                <a [routerLink]="['/user-info', product.userInfo?.id]">{{product.userInfo?.id}}</a>
		            </div>
		        </dd>-->
		        <dt><span jhiTranslate="mallApp.product.shop">Shop</span></dt>
		        <dd>
		            <div *ngIf="product.shopId">
		                <a [routerLink]="['/shop', product.shopId]">{{product.shopId}}</a>
		            </div>
		        </dd>
		    </dl>
		    <hr style='border-color: #5E5E5E;border-style: solid none;border-width: 2px 0;' />
		    <dl *ngSwitchCase="true" class="row-md jh-entity-details">
		        <dd><span jhiTranslate="mallApp.product.createdBy">Created By</span>:&nbsp;<span>{{product.createdBy}}</span></dd>
		        <dd><span jhiTranslate="mallApp.product.createdDate">Created Date</span>:&nbsp;<span>{{product.createdDate | date:'medium'}}</span></dd>
		        <dd><span jhiTranslate="mallApp.product.lastModifiedBy">Last Modified By</span>:&nbsp;<span>{{product.lastModifiedBy}}</span></dd>
		        <dd><span jhiTranslate="mallApp.product.lastModifiedDate">Last Modified Date</span>:&nbsp;<span>{{product.lastModifiedDate | date:'medium'}}</span></dd>
		    </dl>
		</div>
	</div>
	</form>
</div>
