<form name="editForm" role="form" novalidate (ngSubmit)="confirm()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductItemLabel" jhiTranslate="mallApp.productItem.home.createOrEditLabel">Create or edit a Product Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
      	<span *ngIf="productItems">
        	<div *ngFor="let size of sizes">
        		<span *ngFor="let color of colors">
        			<span *ngFor="let item of productItems | getItemFromColorSize: color:size">
        				<input type="text" name="{{item.id}}" [(ngModel)]="item.id" />
        			</span>
        		</span>
        	</div>
		</span>
        
    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</form>
