<div class="row">
	<div class="col-md-3 bg-primary text-white p-2">
		<h2 class="">Order Summary</h2>
	</div>
	<div class="col-md-3 bg-primary text-white p-2">
		item total&nbsp;<h2 style="display:inline;">{{itemTotal | currency}}</h2>
	</div>	
	<div class="col-md-3 bg-primary text-white p-2">
		shipping&nbsp;<h2 style="display:inline;">{{shipping | currency}}</h2>
	</div>
	<div class="col-md-3 bg-success text-white p-2 text-right">
		Total&nbsp;<h2 style="display:inline;">{{sum() | currency}}</h2>&nbsp;&nbsp;&nbsp;
	</div>
</div>