<hr>
<div class="row">
	<div class="col-md-3 bg-primary text-white p-3">
		<h2 class="">Order Summary</h2>
	</div>
	<div class="col-md-3 bg-primary text-white p-3">
		shipping&nbsp;<h2 style="display:inline;">${{shipping}}</h2>
	</div>
	<div class="col-md-3 bg-primary text-white p-3">
		item total&nbsp;<h2 style="display:inline;">${{itemTotal}}</h2>
	</div>	
	<div class="col-md-3 bg-success text-white p-3 text-right">
		Total&nbsp;<h2 style="display:inline;">$ {{sum()}}</h2>&nbsp;&nbsp;&nbsp;
	</div>
</div>