<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-order-item-heading" jhiTranslate="mallApp.orderItem.home.createOrEditLabel">Create or edit a Order Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!orderItem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orderItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.orderItem.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="orderItem.quantity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.orderItem.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="orderItem.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.orderItem.currency" for="field_currency">Currency</label>
                    <select class="form-control" name="currency" [(ngModel)]="orderItem.currency" id="field_currency" >
                        <option value="HKD">{{'mallApp.CurrencyType.HKD' | translate}}</option>
                        <option value="CNY">{{'mallApp.CurrencyType.CNY' | translate}}</option>
                        <option value="USD">{{'mallApp.CurrencyType.USD' | translate}}</option>
                        <option value="EUR">{{'mallApp.CurrencyType.EUR' | translate}}</option>
                        <option value="JPY">{{'mallApp.CurrencyType.JPY' | translate}}</option>
                        <option value="KRW">{{'mallApp.CurrencyType.KRW' | translate}}</option>
                        <option value="TWD">{{'mallApp.CurrencyType.TWD' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mallApp.orderItem.shop" for="field_shop">Shop</label>
                    <select class="form-control" id="field_shop" name="shop" [(ngModel)]="orderItem.shopId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderShopOption.id" *ngFor="let orderShopOption of ordershops; trackBy: trackOrderShopById">{{orderShopOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
