
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save(false)"
		#editForm="ngForm">
		<div class="row">
			<jhi-alert-error></jhi-alert-error>
		</div>
		<!-- Control -->
		<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
			<div class="col-md-3">
				<h2>
					<span jhiTranslate="mallApp.myOrder.cart.pending.title">Shopping
						Cart</span>
				</h2>
			</div>
			<div class="col-md-9">
				<button type="button" [disabled]="isSaving" class="btn btn-info"
					(click)="previousState()">
					<fa-icon icon="arrow-left"></fa-icon>&nbsp;<span
						jhiTranslate="entity.action.back">Back</span>
				</button>
				<button type="button" [disabled]="editForm.form.invalid || isSaving"
					class="btn btn-primary" (click)="save()">
					<fa-icon icon="save"></fa-icon>&nbsp;<span
						jhiTranslate="entity.action.saveRefresh">Save & Refresh</span>
				</button>
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()"
					class="btn btn-success" (click)="checkout()">
					<fa-icon icon="credit-card"></fa-icon>&nbsp;<span
						jhiTranslate="mallApp.myOrder.cart.pending.button.checkout">Checkout</span>
				</button>
			</div>
		</div>
		<!-- Title -->
		<div class="row d-none d-lg-flex">
			<div class="col-md-7 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.item.full">Item</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.unitPrice.full">Unit Price</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.quantity.full">Quantity</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.subtotal.full">Subtotal</span></div>
			<div class="col-md-2 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.action.full">Action</span></div>		
		</div>
		<div class="row d-none d-md-flex d-lg-none">
			<div class="col-md-7 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.item.abbr">Item</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.unitPrice.abbr">Unit P.</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.quantity.abbr">Qty</span></div>
			<div class="col-md-1 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.subtotal.abbr">S. Total</span></div>
			<div class="col-md-2 text-center"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.action.abbr">Action</span></div>			
		</div>
		<!-- <div class="row d-sm-none">		
		</div> -->
		<hr>
		<!-- Content -->
		<div *ngFor="let shop of myOrder.shops" class="row d-none d-md-flex">
			<div class="w-100 px-3 py-2">
				<mat-checkbox [checked]="shop.isChecked" [indeterminate]="shop.indeterminate" (change)="toggleShop(shop, $event)">{{shop.shop.name}}</mat-checkbox>
				<div class="border px-4">
					<div *ngFor="let item of shop.items" class="row">
						<div class="col-md-1">
							<mat-checkbox [checked]="item.isChecked" (change)="itemChanged(shop, item, $event)"></mat-checkbox>
						</div>		
						<div class="col-md-2">
							<span class="img-wrap float-center">
								<img src="http://localhost/image/2019/07/01/product/1/Cute-Ball-Go-icon.png"
									class="img-thumbnail"
									alt=""
									style="width: 120px">
							</span>
						</div>
						<div class="col-md-2">
							<div class="row">{{item.productItem.product.name}}</div>
						</div>
						<div class="col-md-2">
							<div class="row">{{item.productItem.color.name + ' ' + item.productItem.size.name}}</div>
						</div>						
						<div class="col-md-1">
							<span class="hipster font-weight-bold">&nbsp;&nbsp;{{item.price}}</span>
						</div>
						<div class="col-md-1">
							<span class="hipster"> <input
								type="number" class="form-control font-weight-bold"
								name="price{{item.id}}" (change)="updateMyOrder()"
								[(ngModel)]="item.quantity" />
							</span>
						</div>
						<div class="col-md-1 text-right">
							<span class="hipster font-weight-bold">{{item.price
								* item.quantity}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</div>
						<div class="col-md-2 text-right">
							<span class="hipster font-weight-bold">Actions</span>
						</div>			
					</div>   
				</div>
			</div>
		</div>
		<div *ngFor="let shop of myOrder.shops" class="row d-md-none">
			<div class="w-100 px-3 py-2">
				<mat-checkbox [checked]="shop.isChecked" (change)="toggleShop(shop, $event)">{{shop.shop.name}}</mat-checkbox>
				<div class="border px-4">
					<div *ngFor="let item of shop.items" class="row">
						<div class="col-sm-1">
							<mat-checkbox [checked]="item.isChecked" (change)="itemChanged(shop, item, $event)"></mat-checkbox>
						</div>
						<div class="col-sm-3">
							<span class="img-wrap float-center">
								<img src="http://localhost/image/2019/07/01/product/1/Cute-Ball-Go-icon.png"
									class="img-thumbnail"
									alt=""
									style="width: 100px">
							</span>
						</div>
						<div class="col-sm-8">
							<div class="row">
								<div class="col">{{item.productItem.product.name}}</div>
								<div class="col">{{item.productItem.color.name + ' ' + item.productItem.size.name}}&nbsp;&nbsp;</div>
							</div>
							<div class="row">
								<div class="col">
									{{item.price}}
								</div>
								<div class="col">
									<input
									type="number" class="form-control font-weight-bold"
									name="price{{item.id}}" (change)="updateMyOrder()"
									[(ngModel)]="item.quantity" />
								</div>
								<div class="col">
									Actions
								</div>
							</div>
						</div>			
					</div>   
				</div>
			</div>
		</div>		
		<!-- <hr>
		<div class="row">
			<div class="col-md-6">
				<form class="card p-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Promo code">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary">Redeem</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6 text-right">
				<span *ngIf="myOrder.items"
					jhiTranslate="mallApp.myOrder.cart.review.currentTotal">Current
					Total</span>&nbsp;&nbsp;({{myOrder.currency}}):
				<h3 style="display: inline;" class="font-weight-bold">{{sumAll() | currency}}&nbsp;&nbsp;&nbsp;</h3>
			</div>
		</div> -->
		<hr>
		<div class="row">
			<div class="col-md-4 bg-primary text-white p-1">
			</div>
			<div class="col-md-6 bg-primary text-white p-1 text-right">
				<small jhiTranslate="mallApp.myOrder.cart.pending.itemChosen" [translateValues]="{num: itemTotal()}">Item Chosen</small>
				&nbsp;&nbsp;&nbsp;
				<small jhiTranslate="mallApp.myOrder.cart.pending.totalNoShipping">Total (Not include SHIPPING)</small>&nbsp;<h5 style="display:inline;">{{sumAll() | currency}}</h5>
			</div>	
			<div class="col-md-2 bg-primary text-white p-1 text-right">
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()"
					class="btn btn-success" (click)="checkout()">
					<fa-icon icon="credit-card"></fa-icon>&nbsp;<span
						jhiTranslate="mallApp.myOrder.cart.pending.button.checkout">Checkout</span>
				</button>
			</div>
		</div>
	</form>
</div>
