
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save(false)"
		#editForm="ngForm">
		<div class="row">
			<jhi-alert-error></jhi-alert-error>
		</div>		
		<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
			<div class="col-md-3">
				<h2>
					<span jhiTranslate="mallApp.myOrder.cart.review.title">Shopping
						Cart</span>
				</h2>
			</div>
			<div class="col-md-9">
				<button type="button" [disabled]="isSaving" class="btn btn-info"
					(click)="previousState()">
					<span class="fa fa-arrow-left"></span>&nbsp;<span
						jhiTranslate="entity.action.back">Back</span>
				</button>
				<button type="button" [disabled]="editForm.form.invalid || isSaving"
					class="btn btn-primary" (click)="save(false)">
					<span class="fa fa-save"></span>&nbsp;<span
						jhiTranslate="entity.action.saveRefresh">Save & Refresh</span>
				</button>
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()"
					class="btn btn-success" (click)="save(true)">
					<span class="fa fa-chevron-circle-right"></span>&nbsp;<span
						jhiTranslate="entity.action.continue">Continue</span>
				</button>
			</div>
		</div>
		<div class="row" class="d-none d-sm-flex">
			<div class="col-sm-6 text-center">Item</div>
			<div class="col-sm-2">Unit Price</div>
			<div class="col-sm-2 text-center">Quantity</div>
			<div class="col-sm-2 text-right">Subtotal&nbsp;&nbsp;&nbsp;</div>
		</div>
		<hr>
<div class="row">
  <div class="col-sm-9">
    Level 1: .col-sm-9
    <div class="row">
      <div class="col-8 col-sm-6">
        Level 2: .col-8 .col-sm-6
      </div>
      <div class="col-4 col-sm-6">
        Level 2: .col-4 .col-sm-6
      </div>
    </div>
    <div class="row">
      <div class="col-8 col-sm-6">
        Level 2: .col-8 .col-sm-6
      </div>
      <div class="col-4 col-sm-6">
        Level 2: .col-4 .col-sm-6
      </div>
    </div>    
  </div>
</div>
		
		
		
		<!-- hide on screens smaller than sm -->
		<div *ngFor="let item of myOrder.items" class="d-none d-sm-block">
			<div class="row">
				<div class="col-sm-9">
				{{item.productItem.product.shop.name}}
					<div class="row">
						<div class="col-sm-2">
							<span class="hipster img-fluid img-rounded">{{item.productItem.product.name}}</span>
						</div>
						<div class="col-sm-4">
							<span class="hipster img-fluid img-rounded font-weight-bold">{{item.productItem.color.name
								+ ' ' + item.productItem.size.name}}</span>
						</div>
						<div class="col-sm-2">
							<span class="hipster img-fluid img-rounded font-weight-bold">{{item.price}}</span>
						</div>
						<div class="col-sm-2">
							<span class="hipster img-fluid img-rounded"> <input
								type="number" class="form-control font-weight-bold"
								name="price{{item.id}}" (change)="updateMyOrder()"
								[(ngModel)]="item.quantity" />
							</span>
						</div>
						<div class="col-sm-2 text-right">
							<span class="hipster img-fluid img-rounded font-weight-bold">{{item.price
								* item.quantity}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</div>
					</div>						
				</div>
			</div>
			<hr>
		</div>
		<!-- hide on screens wider than sm -->
		<div *ngFor="let item of myOrder.items" class="d-sm-none">
			<div class="row">
				<div class="col-xs-2">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="hipster img-fluid img-rounded"></span>
					<span>
						<img src="http://placehold.it/100x100&amp;text=Slide One" />
					</span>
				</div>
				<div class="col-xs-10">
					<span class="hipster font-weight-bold">{{item.productItem.color.name
						+ ' ' + item.productItem.size.name}}</span>
					<div class="row">
						<div class="col text-right">
							<span class="hipster font-weight-bold">{{item.price}}</span>
						</div>
						<div class="col">
							<span class="hipster"> <input
								type="number" class="form-control font-weight-bold"
								name="price{{item.id}}" (change)="updateMyOrder()"
								[(ngModel)]="item.quantity" />						
							</span>
						</div>
					</div>
					<div class="text-right">
						<span class="hipster font-weight-bold text-right">{{item.price
							* item.quantity}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</div>					
				</div>
			</div>
			<hr>
		</div>		
		<hr>
		<div class="row">
			<div class="col-md-6">
				<form class="card p-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Promo code">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary">Redeem</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6 text-right">
				<span *ngIf="myOrder.items"
					jhiTranslate="mallApp.myOrder.cart.review.currentTotal">Current
					Total</span>&nbsp;&nbsp;({{myOrder.currency}}):
				<h3 style="display: inline;" class="font-weight-bold">{{sumAll() | currency}}&nbsp;&nbsp;&nbsp;</h3>
			</div>
		</div>
	</form>
	<hr>
	<jhi-checkout-summary [myOrder]=myOrder [itemTotal]=sumAll()>
	</jhi-checkout-summary>
</div>
