
<div *ngIf="myOrder">
	<form name="editForm" role="form" novalidate (ngSubmit)="save(false)"
		#editForm="ngForm">
		<div class="row">
			<jhi-alert-error></jhi-alert-error>
		</div>
		<!-- Control -->
		<div class="row" *jhiHasAnyAuthority="'ROLE_USER'">
			<div class="col-md-3">
				<h2>
					<span jhiTranslate="mallApp.myOrder.cart.pending.title">Shopping
						Cart</span>
				</h2>
			</div>
			<div class="col-md-9">
				<button type="button" [disabled]="isSaving" class="btn btn-info"
					(click)="previousState()">
					<fa-icon icon="arrow-left"></fa-icon>&nbsp;<span
						jhiTranslate="entity.action.back">Back</span>
				</button>
				<button type="button" [disabled]="editForm.form.invalid || isSaving"
					class="btn btn-primary" (click)="save()">
					<fa-icon icon="save"></fa-icon>&nbsp;<span
						jhiTranslate="entity.action.saveRefresh">Save & Refresh</span>
				</button>
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()"
					class="btn btn-success" (click)="checkout()">
					<fa-icon icon="credit-card"></fa-icon>&nbsp;<span
						jhiTranslate="mallApp.myOrder.cart.pending.button.checkout">Checkout</span>
				</button>
			</div>
		</div>
		<!-- Title -->
		<div class="row d-none d-lg-flex">
			<div class="col-md-7 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.item.full">Item</span></div>
			<div class="col-md-1 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.unitPrice.full">Unit Price</span></div>
			<div class="col-md-1 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.quantity.full">Quantity</span></div>
			<div class="col-md-1 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.subtotal.full">Subtotal</span></div>
			<div class="col-md-2 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.action.full">Action</span></div>		
		</div>
		<div class="row d-none d-md-flex d-lg-none">
			<div class="col-md-7 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.item.abbr">Item</span></div>
			<div class="col-md-1 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.unitPrice.abbr">Unit P.</span></div>
			<div class="col-md-1 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.quantity.abbr">Qty</span></div>
			<div class="col-md-1 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.subtotal.abbr">S. Total</span></div>
			<div class="col-md-2 text-center p-0"><span jhiTranslate="mallApp.myOrder.cart.pending.grid.title.action.abbr">Action</span></div>			
		</div>
		<!-- <div class="row d-sm-none">		
		</div> -->
		<hr>
		<!-- Content -->
		<div *ngFor="let shop of myOrder.shops" >
			<div class="row d-none d-md-flex">
				<div class="w-100 px-3 py-2">
					<mat-checkbox [checked]="shop.isChecked" [indeterminate]="shop.indeterminate" (change)="toggleShop(shop, $event)">{{shop.shop.name}}</mat-checkbox>
					<div class="border px-4">
						<div *ngFor="let item of shop.items" class="row py-2">
							<div class="col-md-1 px-1">
								<mat-checkbox [checked]="item.isChecked" (change)="itemChanged(shop, item, $event)"></mat-checkbox>
							</div>		
							<div class="col-md-2 px-1">
								<span class="img-wrap float-center">
									<img *ngIf="item.productItem.url" 
										[src]="item.productItem.url.path"
										class="img-thumbnail"
										alt=""
										style="width: 120px">
								</span>
							</div>
							<div class="col-md-2 px-1">
								<div class="">{{item.productItem.product.name}}</div>
							</div>
							<div class="col-md-2 px-1">
								<div class="">{{item.productItem.color.name + ' ' + item.productItem.size.name}}</div>
							</div>						
							<div class="col-md-1 px-1 text-right">
								<span class="">{{item.price | currency}}</span>
							</div>
							<div class="col-md-1 px-1">
								<input
								type="number" class="form-control p-0" 
								style="height: 1.5em; text-align: right"
								name="price{{item.id}}" (change)="updateMyOrder()"
								[(ngModel)]="item.quantity" />
							</div>
							<div class="col-md-1 px-1 text-right">
								<span class="">{{item.price
									* item.quantity | currency}}</span>
							</div>
							<div class="col-md-2 px-1 text-right">
								<span class="font-weight-bold">
									<button type="button"
										[disabled]="isSaving"
										class="btn btn-outline-primary btn-sm" (click)="deleteOrderItem(item.id)">
										<fa-icon icon="trash-alt"></fa-icon>&nbsp;<span
											jhiTranslate="mallApp.myOrder.cart.pending.button.delete">Delete</span>
									</button>
								</span>
							</div>			
						</div>   
					</div>
				</div>
			</div>
			<div class="row d-none d-sm-flex d-md-none">
				<div class="w-100 px-3 py-2">
					<mat-checkbox [checked]="shop.isChecked" (change)="toggleShop(shop, $event)">{{shop.shop.name}}</mat-checkbox>
					<div class="border px-4">
						<div *ngFor="let item of shop.items" class="row py-2">
							<div class="col-sm-1 px-0">
								<mat-checkbox [checked]="item.isChecked" (change)="itemChanged(shop, item, $event)"></mat-checkbox>
							</div>
							<div class="col-sm-3 px-0">
								<span class="img-wrap float-center">
									<img *ngIf="item.productItem.url" 
										[src]="item.productItem.url.path"
										class="img-thumbnail"
										alt=""
										style="width: 100px">
								</span>
							</div>
							<div class="col-sm-8 px-0">
								<div class="row">
									<div class="col px-3">{{item.productItem.product.name}}</div>
								</div>
								<div class="row">
									<div class="col px-3">{{item.productItem.color.name + ' ' + item.productItem.size.name}}</div>
								</div>
								<div class="row">
									<div class="col-3 pl-3 pr-0">
										{{item.price | currency}}
									</div>
									<div class="col-3 px-0">
										<input
										type="number" class="form-control p-0"
										style="height: 1.5em; width: 6em; text-align: right"
										name="price{{item.id}}" (change)="updateMyOrder()"
										[(ngModel)]="item.quantity" />
									</div>
									<div class="col-6 pr-3 pl-0 text-right">
										<button type="button"
											[disabled]="isSaving"
											class="btn btn-outline-primary btn-sm" (click)="deleteOrderItem(item.id)">
											<fa-icon icon="trash-alt"></fa-icon>&nbsp;<span
												jhiTranslate="mallApp.myOrder.cart.pending.button.delete">Delete</span>
										</button>
									</div>
								</div>
							</div>			
						</div>   
					</div>
				</div>
			</div>
			<div class="row d-flex d-sm-none">
				<div class="w-100 px-3 py-2">
					<mat-checkbox [checked]="shop.isChecked" (change)="toggleShop(shop, $event)">{{shop.shop.name}}</mat-checkbox>
					<div class="border px-4">
						<div *ngFor="let item of shop.items" class="row py-2">
							<div class="col-xs-1 px-0">
								<mat-checkbox [checked]="item.isChecked" (change)="itemChanged(shop, item, $event)"></mat-checkbox>
							</div>
							<div class="col-xs-4 px-1">
								<span class="img-wrap float-center">
									<img *ngIf="item.productItem.url" 
										[src]="item.productItem.url.path"
										class="img-thumbnail"
										alt=""
										style="width: 100px">
								</span>
							</div>
							<div class="col-xs-7 px-0">
								<div class="row">
									<div class="col px-3">{{item.productItem.product.name}}</div>
								</div>
								<div class="row">
									<div class="col px-3">{{item.productItem.color.name + ' ' + item.productItem.size.name}}</div>
								</div>
								<div class="row">
									<div class="col-5 pl-3 pr-1">
										{{item.price | currency}}
									</div>
									<div class="col-7 pl-0 pr-1 w-100">
										<input
										type="number" class="form-control p-0"
										style="height: 1.5em; width: 5em; text-align: right"
										name="price{{item.id}}" (change)="updateMyOrder()"
										[(ngModel)]="item.quantity" />
									</div>
								</div>
								<div class="row">
									<div class="col pl-3 pr-1 text-right">
										<button type="button"
											[disabled]="isSaving"
											class="btn btn-outline-primary btn-sm" (click)="deleteOrderItem(item.id)">
											<fa-icon icon="trash-alt"></fa-icon>&nbsp;<span
												jhiTranslate="mallApp.myOrder.cart.pending.button.delete">Delete</span>
										</button>
									</div>
								</div>
							</div>
						</div>   
					</div>
				</div>
			</div>			
		</div>
		
		<!-- <hr>
		<div class="row">
			<div class="col-md-6">
				<form class="card p-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Promo code">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary">Redeem</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6 text-right">
				<span *ngIf="myOrder.items"
					jhiTranslate="mallApp.myOrder.cart.review.currentTotal">Current
					Total</span>&nbsp;&nbsp;({{myOrder.currency}}):
				<h3 style="display: inline;" class="font-weight-bold">{{sumAll() | currency}}&nbsp;&nbsp;&nbsp;</h3>
			</div>
		</div> -->
		<hr>
		<div class="row">
			<div class="col-md-4 bg-primary text-white p-1">
			</div>
			<div class="col-md-6 bg-primary text-white p-1 text-right">
				<small jhiTranslate="mallApp.myOrder.cart.pending.itemChosen" [translateValues]="{num: itemTotal()}">Item Chosen</small>
				&nbsp;&nbsp;&nbsp;
				<small jhiTranslate="mallApp.myOrder.cart.pending.totalNoShipping">Total (Not include SHIPPING)</small>&nbsp;<h5 style="display:inline;">{{sumAll() | currency}}</h5>
			</div>	
			<div class="col-md-2 bg-primary text-white p-1 text-right">
				<button type="button"
					[disabled]="editForm.form.invalid || isSaving || !canGoNext()"
					class="btn btn-success" (click)="checkout()">
					<fa-icon icon="credit-card"></fa-icon>&nbsp;<span
						jhiTranslate="mallApp.myOrder.cart.pending.button.checkout">Checkout</span>
				</button>
			</div>
		</div>
	</form>
</div>
